.DS_Store
/generator/vendor
/generator/composer.phar
/app/vendor
/app/composer.phar
/.idea
/app/config/local.php
/app/tmp/cache/*
/app/tmp/logs/*
/app/tmp/templates/*
/docs/changelog.md
/docs/changelog-*.md
/docs/cache/
/docs/*/cache/
