{
    "openapi": "3.1.0",
    "info": {
        "title": "Matomo Reporting API for Actions plugin",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demo.matomo.cloud/",
            "description": "Matomo demo server"
        }
    ],
    "paths": {
        "/index.php?module=API&method=Actions.get": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "description": "Returns the list of metrics (pages, downloads, outlinks)",
                "operationId": "Actions.get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSiteRequired"
                    },
                    {
                        "$ref": "#/components/parameters/periodRequired"
                    },
                    {
                        "$ref": "#/components/parameters/dateRequired"
                    },
                    {
                        "$ref": "#/components/parameters/segmentOptional"
                    },
                    {
                        "name": "columns",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=Actions.get&idSite=1&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=Actions.get&idSite=1&period=day&date=today&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=Actions.get&idSite=1&period=day&date=today&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "nb_pageviews": "24346",
                                    "nb_uniq_pageviews": "19079",
                                    "nb_downloads": "14",
                                    "nb_uniq_downloads": "14",
                                    "nb_outlinks": "1432",
                                    "nb_uniq_outlinks": "1326",
                                    "nb_searches": "175",
                                    "nb_keywords": "66",
                                    "hits": "29199"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nb_pageviews": {
                                            "type": "integer"
                                        },
                                        "nb_uniq_pageviews": {
                                            "type": "integer"
                                        },
                                        "nb_downloads": {
                                            "type": "integer"
                                        },
                                        "nb_uniq_downloads": {
                                            "type": "integer"
                                        },
                                        "nb_outlinks": {
                                            "type": "integer"
                                        },
                                        "nb_uniq_outlinks": {
                                            "type": "integer"
                                        },
                                        "nb_searches": {
                                            "type": "integer"
                                        },
                                        "nb_keywords": {
                                            "type": "integer"
                                        },
                                        "hits": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "nb_pageviews": 24346,
                                    "nb_uniq_pageviews": 19079,
                                    "nb_downloads": 14,
                                    "nb_uniq_downloads": 14,
                                    "nb_outlinks": 1432,
                                    "nb_uniq_outlinks": 1326,
                                    "nb_searches": 175,
                                    "nb_keywords": 66,
                                    "hits": 29199
                                }
                            },
                            "application/vnd.ms-excel": {
                                "example": "nb_pageviews\tnb_uniq_pageviews\tnb_downloads\tnb_uniq_downloads\tnb_outlinks\tnb_uniq_outlinks\tnb_searches\tnb_keywords\thits\n24346\t19079\t14\t14\t1432\t1326\t175\t66\t29199"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=Actions.getPageUrls": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "description": "",
                "operationId": "Actions.getPageUrls",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSiteRequired"
                    },
                    {
                        "$ref": "#/components/parameters/periodRequired"
                    },
                    {
                        "$ref": "#/components/parameters/dateRequired"
                    },
                    {
                        "$ref": "#/components/parameters/segmentOptional"
                    },
                    {
                        "$ref": "#/components/parameters/expandedOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSubtableOptional"
                    },
                    {
                        "name": "depth",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/flatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=Actions.getPageUrls&idSite=1&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=Actions.getPageUrls&idSite=1&period=day&date=today&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=Actions.getPageUrls&idSite=1&period=day&date=today&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "goals": {
                                                        "properties": {
                                                            "row": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "idgoal": {
                                                                            "type": "string",
                                                                            "xml": {
                                                                                "attribute": true
                                                                            },
                                                                            "example": "ecommerceOrder"
                                                                        }
                                                                    },
                                                                    "type": "object",
                                                                    "xml": {
                                                                        "name": "row"
                                                                    },
                                                                    "additionalProperties": true
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "label": "diving",
                                            "nb_visits": "5818",
                                            "nb_hits": "6808",
                                            "sum_time_spent": "441897",
                                            "nb_hits_following_search": "9",
                                            "entry_nb_visits": "4439",
                                            "entry_nb_actions": "7936",
                                            "entry_sum_visit_length": "529705",
                                            "entry_bounce_count": "3192",
                                            "exit_nb_visits": "4373",
                                            "goals": {
                                                "row": [
                                                    {
                                                        "nb_conversions": "1",
                                                        "revenue": "1",
                                                        "nb_conv_pages_before": "3",
                                                        "nb_conversions_attrib": "0.3333",
                                                        "nb_conversions_page_rate": "0.053",
                                                        "nb_conversions_page_uniq": "1",
                                                        "revenue_attrib": "0.33",
                                                        "idgoal": "4"
                                                    },
                                                    {
                                                        "nb_conversions": "6",
                                                        "revenue": "12",
                                                        "nb_conv_pages_before": "22",
                                                        "nb_conversions_attrib": "1.4167",
                                                        "nb_conversions_page_rate": "0.158",
                                                        "nb_conversions_page_uniq": "6",
                                                        "revenue_attrib": "2.84",
                                                        "revenue_entry": "2",
                                                        "nb_conversions_entry_rate": "0.045",
                                                        "revenue_per_entry": "0.091",
                                                        "nb_conversions_entry": "1",
                                                        "idgoal": "6"
                                                    },
                                                    {
                                                        "nb_conversions": "227",
                                                        "revenue": "227",
                                                        "nb_conv_pages_before": "434",
                                                        "nb_conversions_attrib": "128.9764",
                                                        "nb_conversions_page_rate": "0.605",
                                                        "nb_conversions_page_uniq": "227",
                                                        "revenue_attrib": "128.91",
                                                        "revenue_entry": "143",
                                                        "nb_conversions_entry_rate": "2.862",
                                                        "revenue_per_entry": "2.862",
                                                        "nb_conversions_entry": "143",
                                                        "idgoal": "7"
                                                    },
                                                    {
                                                        "nb_conversions": "171",
                                                        "revenue": "0",
                                                        "nb_conv_pages_before": "316",
                                                        "nb_conversions_attrib": "87.9653",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "171",
                                                        "revenue_attrib": "0",
                                                        "revenue_entry": "0",
                                                        "nb_conversions_entry_rate": "1.71",
                                                        "revenue_per_entry": "0",
                                                        "nb_conversions_entry": "95",
                                                        "idgoal": "8"
                                                    },
                                                    {
                                                        "nb_conversions": "17",
                                                        "revenue": "0",
                                                        "nb_conv_pages_before": "11",
                                                        "nb_conversions_attrib": "7.4165",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "17",
                                                        "revenue_attrib": "0",
                                                        "revenue_entry": "0",
                                                        "nb_conversions_entry_rate": "0.143",
                                                        "revenue_per_entry": "0",
                                                        "nb_conversions_entry": "6",
                                                        "idgoal": "9"
                                                    },
                                                    {
                                                        "nb_conversions": "23",
                                                        "revenue": "0",
                                                        "nb_conv_pages_before": "18",
                                                        "nb_conversions_attrib": "7.733",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "23",
                                                        "revenue_attrib": "0",
                                                        "revenue_entry": "0",
                                                        "nb_conversions_entry_rate": "0.22",
                                                        "revenue_per_entry": "0",
                                                        "nb_conversions_entry": "12",
                                                        "idgoal": "10"
                                                    }
                                                ]
                                            },
                                            "avg_page_load_time": "0",
                                            "avg_time_on_page": "65",
                                            "bounce_rate": "72%",
                                            "exit_rate": "75%",
                                            "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fdiving"
                                        },
                                        {
                                            "label": "terms-conditions",
                                            "nb_visits": "31",
                                            "nb_hits": "31",
                                            "sum_time_spent": "3548",
                                            "exit_nb_visits": "10",
                                            "goals": {
                                                "row": [
                                                    {
                                                        "nb_conversions": "2",
                                                        "revenue": "39.9",
                                                        "nb_conversions_page_uniq": "2",
                                                        "nb_conversions_page_rate": "0.002",
                                                        "idgoal": "ecommerceAbandonedCart"
                                                    },
                                                    {
                                                        "nb_conversions": "8",
                                                        "revenue": "2376.95",
                                                        "nb_conv_pages_before": "14",
                                                        "nb_conversions_attrib": "1.7547",
                                                        "nb_conversions_page_rate": "0.021",
                                                        "nb_conversions_page_uniq": "8",
                                                        "revenue_attrib": "533.27",
                                                        "idgoal": "ecommerceOrder"
                                                    }
                                                ]
                                            },
                                            "avg_page_load_time": "0",
                                            "avg_time_on_page": "114",
                                            "bounce_rate": "0%",
                                            "exit_rate": "32%",
                                            "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fterms-conditions"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "nb_hits": {
                                                        "type": "integer"
                                                    },
                                                    "sum_time_spent": {
                                                        "type": "integer"
                                                    },
                                                    "nb_hits_following_search": {
                                                        "type": "integer"
                                                    },
                                                    "entry_nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "entry_nb_actions": {
                                                        "type": "integer"
                                                    },
                                                    "entry_sum_visit_length": {
                                                        "type": "integer"
                                                    },
                                                    "entry_bounce_count": {
                                                        "type": "integer"
                                                    },
                                                    "exit_nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "goals": {
                                                        "properties": {
                                                            "idgoal=10": {
                                                                "properties": {
                                                                    "nb_conversions": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conv_pages_before": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_attrib": {
                                                                        "type": [
                                                                            "string",
                                                                            "number",
                                                                            "integer",
                                                                            "boolean",
                                                                            "array",
                                                                            "object",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "nb_conversions_page_rate": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_page_uniq": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue_attrib": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue_entry": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_entry_rate": {
                                                                        "type": [
                                                                            "string",
                                                                            "number",
                                                                            "integer",
                                                                            "boolean",
                                                                            "array",
                                                                            "object",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "revenue_per_entry": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_entry": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "avg_page_load_time": {
                                                        "type": "integer"
                                                    },
                                                    "avg_time_on_page": {
                                                        "type": "integer"
                                                    },
                                                    "bounce_rate": {
                                                        "type": "string"
                                                    },
                                                    "exit_rate": {
                                                        "type": "string"
                                                    },
                                                    "segment": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "label": "diving",
                                        "nb_visits": 5818,
                                        "nb_hits": 6808,
                                        "sum_time_spent": 441897,
                                        "nb_hits_following_search": 9,
                                        "entry_nb_visits": 4439,
                                        "entry_nb_actions": 7936,
                                        "entry_sum_visit_length": 529705,
                                        "entry_bounce_count": 3192,
                                        "exit_nb_visits": 4373,
                                        "goals": {
                                            "idgoal=4": {
                                                "nb_conversions": 1,
                                                "revenue": 1,
                                                "nb_conv_pages_before": 3,
                                                "nb_conversions_attrib": 0.3333,
                                                "nb_conversions_page_rate": 0.053,
                                                "nb_conversions_page_uniq": 1,
                                                "revenue_attrib": 0.33
                                            },
                                            "idgoal=6": {
                                                "nb_conversions": 6,
                                                "revenue": 12,
                                                "nb_conv_pages_before": 22,
                                                "nb_conversions_attrib": 1.4166999999999998,
                                                "nb_conversions_page_rate": 0.158,
                                                "nb_conversions_page_uniq": 6,
                                                "revenue_attrib": 2.84,
                                                "revenue_entry": 2,
                                                "nb_conversions_entry_rate": 0.045,
                                                "revenue_per_entry": 0.091,
                                                "nb_conversions_entry": 1
                                            },
                                            "idgoal=7": {
                                                "nb_conversions": 227,
                                                "revenue": 227,
                                                "nb_conv_pages_before": 434,
                                                "nb_conversions_attrib": 128.97639999999996,
                                                "nb_conversions_page_rate": 0.605,
                                                "nb_conversions_page_uniq": 227,
                                                "revenue_attrib": 128.91,
                                                "revenue_entry": 143,
                                                "nb_conversions_entry_rate": 2.8620000000000005,
                                                "revenue_per_entry": 2.8620000000000005,
                                                "nb_conversions_entry": 143
                                            },
                                            "idgoal=8": {
                                                "nb_conversions": 171,
                                                "revenue": 0,
                                                "nb_conv_pages_before": 316,
                                                "nb_conversions_attrib": 87.9653,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 171,
                                                "revenue_attrib": 0,
                                                "revenue_entry": 0,
                                                "nb_conversions_entry_rate": 1.71,
                                                "revenue_per_entry": 0,
                                                "nb_conversions_entry": 95
                                            },
                                            "idgoal=9": {
                                                "nb_conversions": 17,
                                                "revenue": 0,
                                                "nb_conv_pages_before": 11,
                                                "nb_conversions_attrib": 7.4165,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 17,
                                                "revenue_attrib": 0,
                                                "revenue_entry": 0,
                                                "nb_conversions_entry_rate": 0.14300000000000002,
                                                "revenue_per_entry": 0,
                                                "nb_conversions_entry": 6
                                            },
                                            "idgoal=10": {
                                                "nb_conversions": 23,
                                                "revenue": 0,
                                                "nb_conv_pages_before": 18,
                                                "nb_conversions_attrib": 7.733,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 23,
                                                "revenue_attrib": 0,
                                                "revenue_entry": 0,
                                                "nb_conversions_entry_rate": 0.22,
                                                "revenue_per_entry": 0,
                                                "nb_conversions_entry": 12
                                            }
                                        },
                                        "avg_page_load_time": 0,
                                        "avg_time_on_page": 65,
                                        "bounce_rate": "72%",
                                        "exit_rate": "75%",
                                        "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fdiving"
                                    },
                                    {
                                        "label": "products",
                                        "nb_visits": 2092,
                                        "nb_hits": 3226,
                                        "sum_time_spent": 371427,
                                        "nb_hits_following_search": 64,
                                        "entry_nb_visits": 929,
                                        "entry_nb_actions": 6852,
                                        "entry_sum_visit_length": 883207,
                                        "entry_bounce_count": 61,
                                        "exit_nb_visits": 625,
                                        "goals": {
                                            "idgoal=ecommerceAbandonedCart": {
                                                "nb_conversions": 1448,
                                                "revenue": 294261.55000000005,
                                                "nb_conversions_page_uniq": 1448,
                                                "nb_conversions_page_rate": 1
                                            },
                                            "idgoal=ecommerceOrder": {
                                                "nb_conversions": 653,
                                                "revenue": 128410.19999999998,
                                                "nb_conv_pages_before": 585,
                                                "nb_conversions_attrib": 130.9874,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 653,
                                                "revenue_attrib": 27197.879999999997,
                                                "revenue_entry": 46342.450000000004,
                                                "nb_conversions_entry_rate": 3.312,
                                                "revenue_per_entry": 1245.856,
                                                "nb_conversions_entry": 223
                                            }
                                        },
                                        "avg_page_load_time": 0,
                                        "avg_time_on_page": 115,
                                        "bounce_rate": "7%",
                                        "exit_rate": "30%",
                                        "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fproducts"
                                    }
                                ]
                            },
                            "application/vnd.ms-excel": {
                                "example": "diving\t5818\t6808\t441897\t9\t4439\t7936\t529705\t3192\t4373\t1\t1\t3\t0.3333\t0.053\t1\t0.33\t6\t12\t22\t1.4167\t0.158\t6\t2.84\t2\t0.045\t0.091\t1\t227\t227\t434\t128.9764\t0.605\t227\t128.91\t143\t2.862\t2.862\t143\t171\t0\t316\t87.9653\t1\t171\t0\t0\t1.71\t0\t95\t17\t0\t11\t7.4165\t1\t17\t0\t0\t0.143\t0\t6\t23\t0\t18\t7.733\t1\t23\t0\t0\t0.22\t0\t12\t0\t65\t72%\t75%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fdiving\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nproducts\t2092\t3226\t371427\t64\t929\t6852\t883207\t61\t625\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t115\t7%\t30%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fproducts\t1448\t294261.55\t1448\t1\t653\t128410.2\t585\t130.9874\t1\t653\t27197.88\t46342.45\t3.312\t1245.856\t223\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\njobs\t1426\t1612\t95709\t4\t246\t805\t39554\t113\t423\t47\t47\t198\t14.708\t1\t47\t14.65\t15\t30\t78\t3.5903\t0.395\t15\t7.18\t8\t0.968\t1.936\t4\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t59\t46%\t30%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fjobs\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t10\t5.637\t5.637\t10\t15\t75\t23\t5.7998\t1\t15\t29.02\t20\t2.667\t13.333\t4\t\t\t\t\ndivesite\t1319\t1458\t105482\t1\t707\t1144\t71333\t510\t796\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t24\t24\t112\t8.1925\t0.064\t24\t8.18\t9\t0.886\t0.886\t9\t12\t0\t44\t2.9722\t0.077\t12\t0\t0\t0.168\t0\t4\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t72\t72%\t60%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fdivesite\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nmy-account\t1104\t1722\t146384\t3\t40\t493\t48700\t2\t149\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t85\t5%\t13%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fmy-account\t380\t56188.1\t380\t0.414\t280\t66410.65\t833\t24.8544\t0.743\t280\t4946.19\t5824.5\t3.241\t771.731\t13\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\ncheckout\t1022\t1157\t164316\t3\t57\t293\t53134\t8\t265\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t142\t14%\t26%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fcheckout\t106\t17883\t106\t0.116\t323\t80270.8\t170\t78.28\t0.857\t323\t23546.65\t9851.25\t8.683\t1940.5\t30\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\ncart\t950\t1373\t85308\t4\t126\t800\t98305\t5\t200\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t62\t4%\t21%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fcart\t457\t75132.55\t457\t0.498\t374\t78246.3\t60\t73.722\t0.992\t374\t15691.42\t9555.15\t0.238\t75.835\t30\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\ntravel\t884\t975\t46733\t1\t804\t1080\t50872\t645\t793\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t21\t21\t36\t15.6833\t0.056\t21\t15.68\t19\t2.698\t2.698\t19\t41\t0\t66\t29.2489\t0.263\t41\t0\t0\t2.181\t0\t28\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t48\t80%\t90%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Ftravel\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n/jobs\t759\t1211\t51995\t5\t639\t2113\t117148\t265\t429\t16\t16\t14\t2.8773\t0.842\t16\t2.87\t37\t74\t11\t13.1306\t0.974\t37\t26.28\t52\t0.041\t0.081\t26\t2\t2\t4\t0.5\t0.005\t2\t0.5\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t43\t41%\t57%\tpageUrl==https%253A%252F%252Fdivezone.net%252Fjobs\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t7\t0.011\t0.011\t7\t11\t55\t5\t4.1332\t1\t11\t20.68\t20\t0.006\t0.031\t4\t705\t596\t396\thttps://divezone.net/jobs\nblog\t179\t207\t14235\t1\t156\t244\t16321\t121\t157\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t2\t2\t11\t0.6111\t0.005\t2\t0.61\t3\t0.459\t0.459\t3\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t69\t78%\t88%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fblog"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=Actions.getPageUrlsFollowingSiteSearch": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "description": "",
                "operationId": "Actions.getPageUrlsFollowingSiteSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSiteRequired"
                    },
                    {
                        "$ref": "#/components/parameters/periodRequired"
                    },
                    {
                        "$ref": "#/components/parameters/dateRequired"
                    },
                    {
                        "$ref": "#/components/parameters/segmentOptional"
                    },
                    {
                        "$ref": "#/components/parameters/expandedOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSubtableOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=Actions.getPageUrlsFollowingSiteSearch&idSite=1&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=Actions.getPageUrlsFollowingSiteSearch&idSite=1&period=day&date=today&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=Actions.getPageUrlsFollowingSiteSearch&idSite=1&period=day&date=today&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "goals": {
                                                        "properties": {
                                                            "row": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "idgoal": {
                                                                            "type": "string",
                                                                            "xml": {
                                                                                "attribute": true
                                                                            },
                                                                            "example": "10"
                                                                        }
                                                                    },
                                                                    "type": "object",
                                                                    "xml": {
                                                                        "name": "row"
                                                                    },
                                                                    "additionalProperties": true
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "label": "diving",
                                            "nb_visits": "5818",
                                            "nb_hits": "6808",
                                            "sum_time_spent": "441897",
                                            "nb_hits_following_search": "9",
                                            "entry_nb_visits": "4439",
                                            "entry_nb_actions": "7936",
                                            "entry_sum_visit_length": "529705",
                                            "entry_bounce_count": "3192",
                                            "exit_nb_visits": "4373",
                                            "goals": {
                                                "row": [
                                                    {
                                                        "nb_conversions": "1",
                                                        "revenue": "1",
                                                        "nb_conv_pages_before": "3",
                                                        "nb_conversions_attrib": "0.3333",
                                                        "nb_conversions_page_rate": "0.053",
                                                        "nb_conversions_page_uniq": "1",
                                                        "revenue_attrib": "0.33",
                                                        "idgoal": "4"
                                                    },
                                                    {
                                                        "nb_conversions": "6",
                                                        "revenue": "12",
                                                        "nb_conv_pages_before": "22",
                                                        "nb_conversions_attrib": "1.4167",
                                                        "nb_conversions_page_rate": "0.158",
                                                        "nb_conversions_page_uniq": "6",
                                                        "revenue_attrib": "2.84",
                                                        "revenue_entry": "2",
                                                        "nb_conversions_entry_rate": "0.045",
                                                        "revenue_per_entry": "0.091",
                                                        "nb_conversions_entry": "1",
                                                        "idgoal": "6"
                                                    },
                                                    {
                                                        "nb_conversions": "227",
                                                        "revenue": "227",
                                                        "nb_conv_pages_before": "434",
                                                        "nb_conversions_attrib": "128.9764",
                                                        "nb_conversions_page_rate": "0.605",
                                                        "nb_conversions_page_uniq": "227",
                                                        "revenue_attrib": "128.91",
                                                        "revenue_entry": "143",
                                                        "nb_conversions_entry_rate": "2.862",
                                                        "revenue_per_entry": "2.862",
                                                        "nb_conversions_entry": "143",
                                                        "idgoal": "7"
                                                    },
                                                    {
                                                        "nb_conversions": "171",
                                                        "revenue": "0",
                                                        "nb_conv_pages_before": "316",
                                                        "nb_conversions_attrib": "87.9653",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "171",
                                                        "revenue_attrib": "0",
                                                        "revenue_entry": "0",
                                                        "nb_conversions_entry_rate": "1.71",
                                                        "revenue_per_entry": "0",
                                                        "nb_conversions_entry": "95",
                                                        "idgoal": "8"
                                                    },
                                                    {
                                                        "nb_conversions": "17",
                                                        "revenue": "0",
                                                        "nb_conv_pages_before": "11",
                                                        "nb_conversions_attrib": "7.4165",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "17",
                                                        "revenue_attrib": "0",
                                                        "revenue_entry": "0",
                                                        "nb_conversions_entry_rate": "0.143",
                                                        "revenue_per_entry": "0",
                                                        "nb_conversions_entry": "6",
                                                        "idgoal": "9"
                                                    },
                                                    {
                                                        "nb_conversions": "23",
                                                        "revenue": "0",
                                                        "nb_conv_pages_before": "18",
                                                        "nb_conversions_attrib": "7.733",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "23",
                                                        "revenue_attrib": "0",
                                                        "revenue_entry": "0",
                                                        "nb_conversions_entry_rate": "0.22",
                                                        "revenue_per_entry": "0",
                                                        "nb_conversions_entry": "12",
                                                        "idgoal": "10"
                                                    }
                                                ]
                                            },
                                            "avg_page_load_time": "0",
                                            "avg_time_on_page": "65",
                                            "bounce_rate": "72%",
                                            "exit_rate": "75%",
                                            "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fdiving"
                                        },
                                        {
                                            "label": "\\/kri-eco-dive-resort-review",
                                            "nb_visits": "7",
                                            "nb_uniq_visitors": "7",
                                            "nb_hits": "8",
                                            "sum_time_spent": "505",
                                            "nb_hits_following_search": "1",
                                            "entry_nb_uniq_visitors": "4",
                                            "entry_nb_visits": "4",
                                            "entry_nb_actions": "5",
                                            "entry_sum_visit_length": "16",
                                            "entry_bounce_count": "3",
                                            "exit_nb_uniq_visitors": "5",
                                            "exit_nb_visits": "5",
                                            "avg_page_load_time": "0",
                                            "avg_time_on_page": "63",
                                            "bounce_rate": "75%",
                                            "exit_rate": "71%",
                                            "url": "https:\\/\\/divezone.net\\/kri-eco-dive-resort-review"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "nb_hits": {
                                                        "type": "integer"
                                                    },
                                                    "sum_time_spent": {
                                                        "type": "integer"
                                                    },
                                                    "nb_hits_following_search": {
                                                        "type": "integer"
                                                    },
                                                    "entry_nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "entry_nb_actions": {
                                                        "type": "integer"
                                                    },
                                                    "entry_sum_visit_length": {
                                                        "type": "integer"
                                                    },
                                                    "entry_bounce_count": {
                                                        "type": "integer"
                                                    },
                                                    "exit_nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "goals": {
                                                        "properties": {
                                                            "idgoal=10": {
                                                                "properties": {
                                                                    "nb_conversions": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conv_pages_before": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_attrib": {
                                                                        "type": [
                                                                            "string",
                                                                            "number",
                                                                            "integer",
                                                                            "boolean",
                                                                            "array",
                                                                            "object",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "nb_conversions_page_rate": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_page_uniq": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue_attrib": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue_entry": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_entry_rate": {
                                                                        "type": [
                                                                            "string",
                                                                            "number",
                                                                            "integer",
                                                                            "boolean",
                                                                            "array",
                                                                            "object",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "revenue_per_entry": {
                                                                        "type": "integer"
                                                                    },
                                                                    "nb_conversions_entry": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "avg_page_load_time": {
                                                        "type": "integer"
                                                    },
                                                    "avg_time_on_page": {
                                                        "type": "integer"
                                                    },
                                                    "bounce_rate": {
                                                        "type": "string"
                                                    },
                                                    "exit_rate": {
                                                        "type": "string"
                                                    },
                                                    "segment": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "label": "diving",
                                        "nb_visits": 5818,
                                        "nb_hits": 6808,
                                        "sum_time_spent": 441897,
                                        "nb_hits_following_search": 9,
                                        "entry_nb_visits": 4439,
                                        "entry_nb_actions": 7936,
                                        "entry_sum_visit_length": 529705,
                                        "entry_bounce_count": 3192,
                                        "exit_nb_visits": 4373,
                                        "goals": {
                                            "idgoal=4": {
                                                "nb_conversions": 1,
                                                "revenue": 1,
                                                "nb_conv_pages_before": 3,
                                                "nb_conversions_attrib": 0.3333,
                                                "nb_conversions_page_rate": 0.053,
                                                "nb_conversions_page_uniq": 1,
                                                "revenue_attrib": 0.33
                                            },
                                            "idgoal=6": {
                                                "nb_conversions": 6,
                                                "revenue": 12,
                                                "nb_conv_pages_before": 22,
                                                "nb_conversions_attrib": 1.4166999999999998,
                                                "nb_conversions_page_rate": 0.158,
                                                "nb_conversions_page_uniq": 6,
                                                "revenue_attrib": 2.84,
                                                "revenue_entry": 2,
                                                "nb_conversions_entry_rate": 0.045,
                                                "revenue_per_entry": 0.091,
                                                "nb_conversions_entry": 1
                                            },
                                            "idgoal=7": {
                                                "nb_conversions": 227,
                                                "revenue": 227,
                                                "nb_conv_pages_before": 434,
                                                "nb_conversions_attrib": 128.97639999999996,
                                                "nb_conversions_page_rate": 0.605,
                                                "nb_conversions_page_uniq": 227,
                                                "revenue_attrib": 128.91,
                                                "revenue_entry": 143,
                                                "nb_conversions_entry_rate": 2.8620000000000005,
                                                "revenue_per_entry": 2.8620000000000005,
                                                "nb_conversions_entry": 143
                                            },
                                            "idgoal=8": {
                                                "nb_conversions": 171,
                                                "revenue": 0,
                                                "nb_conv_pages_before": 316,
                                                "nb_conversions_attrib": 87.9653,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 171,
                                                "revenue_attrib": 0,
                                                "revenue_entry": 0,
                                                "nb_conversions_entry_rate": 1.71,
                                                "revenue_per_entry": 0,
                                                "nb_conversions_entry": 95
                                            },
                                            "idgoal=9": {
                                                "nb_conversions": 17,
                                                "revenue": 0,
                                                "nb_conv_pages_before": 11,
                                                "nb_conversions_attrib": 7.4165,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 17,
                                                "revenue_attrib": 0,
                                                "revenue_entry": 0,
                                                "nb_conversions_entry_rate": 0.14300000000000002,
                                                "revenue_per_entry": 0,
                                                "nb_conversions_entry": 6
                                            },
                                            "idgoal=10": {
                                                "nb_conversions": 23,
                                                "revenue": 0,
                                                "nb_conv_pages_before": 18,
                                                "nb_conversions_attrib": 7.733,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 23,
                                                "revenue_attrib": 0,
                                                "revenue_entry": 0,
                                                "nb_conversions_entry_rate": 0.22,
                                                "revenue_per_entry": 0,
                                                "nb_conversions_entry": 12
                                            }
                                        },
                                        "avg_page_load_time": 0,
                                        "avg_time_on_page": 65,
                                        "bounce_rate": "72%",
                                        "exit_rate": "75%",
                                        "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fdiving"
                                    },
                                    {
                                        "label": "products",
                                        "nb_visits": 2092,
                                        "nb_hits": 3226,
                                        "sum_time_spent": 371427,
                                        "nb_hits_following_search": 64,
                                        "entry_nb_visits": 929,
                                        "entry_nb_actions": 6852,
                                        "entry_sum_visit_length": 883207,
                                        "entry_bounce_count": 61,
                                        "exit_nb_visits": 625,
                                        "goals": {
                                            "idgoal=ecommerceAbandonedCart": {
                                                "nb_conversions": 1448,
                                                "revenue": 294261.55000000005,
                                                "nb_conversions_page_uniq": 1448,
                                                "nb_conversions_page_rate": 1
                                            },
                                            "idgoal=ecommerceOrder": {
                                                "nb_conversions": 653,
                                                "revenue": 128410.19999999998,
                                                "nb_conv_pages_before": 585,
                                                "nb_conversions_attrib": 130.9874,
                                                "nb_conversions_page_rate": 1,
                                                "nb_conversions_page_uniq": 653,
                                                "revenue_attrib": 27197.879999999997,
                                                "revenue_entry": 46342.450000000004,
                                                "nb_conversions_entry_rate": 3.312,
                                                "revenue_per_entry": 1245.856,
                                                "nb_conversions_entry": 223
                                            }
                                        },
                                        "avg_page_load_time": 0,
                                        "avg_time_on_page": 115,
                                        "bounce_rate": "7%",
                                        "exit_rate": "30%",
                                        "segment": "pageUrl=^https%253A%252F%252Fdivezone.net%252Fproducts"
                                    }
                                ]
                            },
                            "application/vnd.ms-excel": {
                                "example": "diving\t5818\t6808\t441897\t9\t4439\t7936\t529705\t3192\t4373\t1\t1\t3\t0.3333\t0.053\t1\t0.33\t6\t12\t22\t1.4167\t0.158\t6\t2.84\t2\t0.045\t0.091\t1\t227\t227\t434\t128.9764\t0.605\t227\t128.91\t143\t2.862\t2.862\t143\t171\t0\t316\t87.9653\t1\t171\t0\t0\t1.71\t0\t95\t17\t0\t11\t7.4165\t1\t17\t0\t0\t0.143\t0\t6\t23\t0\t18\t7.733\t1\t23\t0\t0\t0.22\t0\t12\t0\t65\t72%\t75%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fdiving\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nproducts\t2092\t3226\t371427\t64\t929\t6852\t883207\t61\t625\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t115\t7%\t30%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fproducts\t1448\t294261.55\t1448\t1\t653\t128410.2\t585\t130.9874\t1\t653\t27197.88\t46342.45\t3.312\t1245.856\t223\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\njobs\t1426\t1612\t95709\t4\t246\t805\t39554\t113\t423\t47\t47\t198\t14.708\t1\t47\t14.65\t15\t30\t78\t3.5903\t0.395\t15\t7.18\t8\t0.968\t1.936\t4\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t59\t46%\t30%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fjobs\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t10\t5.637\t5.637\t10\t15\t75\t23\t5.7998\t1\t15\t29.02\t20\t2.667\t13.333\t4\t\t\t\t\ndivesite\t1319\t1458\t105482\t1\t707\t1144\t71333\t510\t796\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t24\t24\t112\t8.1925\t0.064\t24\t8.18\t9\t0.886\t0.886\t9\t12\t0\t44\t2.9722\t0.077\t12\t0\t0\t0.168\t0\t4\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t72\t72%\t60%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fdivesite\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nmy-account\t1104\t1722\t146384\t3\t40\t493\t48700\t2\t149\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t85\t5%\t13%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fmy-account\t380\t56188.1\t380\t0.414\t280\t66410.65\t833\t24.8544\t0.743\t280\t4946.19\t5824.5\t3.241\t771.731\t13\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\ncheckout\t1022\t1157\t164316\t3\t57\t293\t53134\t8\t265\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t142\t14%\t26%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fcheckout\t106\t17883\t106\t0.116\t323\t80270.8\t170\t78.28\t0.857\t323\t23546.65\t9851.25\t8.683\t1940.5\t30\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\ncart\t950\t1373\t85308\t4\t126\t800\t98305\t5\t200\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t62\t4%\t21%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fcart\t457\t75132.55\t457\t0.498\t374\t78246.3\t60\t73.722\t0.992\t374\t15691.42\t9555.15\t0.238\t75.835\t30\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\ntravel\t884\t975\t46733\t1\t804\t1080\t50872\t645\t793\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t21\t21\t36\t15.6833\t0.056\t21\t15.68\t19\t2.698\t2.698\t19\t41\t0\t66\t29.2489\t0.263\t41\t0\t0\t2.181\t0\t28\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t48\t80%\t90%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Ftravel\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n/jobs\t759\t1211\t51995\t5\t639\t2113\t117148\t265\t429\t16\t16\t14\t2.8773\t0.842\t16\t2.87\t37\t74\t11\t13.1306\t0.974\t37\t26.28\t52\t0.041\t0.081\t26\t2\t2\t4\t0.5\t0.005\t2\t0.5\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t43\t41%\t57%\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t7\t0.011\t0.011\t7\t11\t55\t5\t4.1332\t1\t11\t20.68\t20\t0.006\t0.031\t4\t705\t596\t396\thttps://divezone.net/jobs\nguides\t367\t410\t61444\t15\t77\t560\t73800\t6\t64\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t0\t150\t8%\t17%\tpageUrl=^https%253A%252F%252Fdivezone.net%252Fguides\t116\t23198.75\t116\t0.126\t77\t13908.6\t346\t10.7729\t0.204\t77\t2619.28\t2951.45\t2.351\t341.338\t15"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=Actions.getPageTitlesFollowingSiteSearch": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "description": "",
                "operationId": "Actions.getPageTitlesFollowingSiteSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSiteRequired"
                    },
                    {
                        "$ref": "#/components/parameters/periodRequired"
                    },
                    {
                        "$ref": "#/components/parameters/dateRequired"
                    },
                    {
                        "$ref": "#/components/parameters/segmentOptional"
                    },
                    {
                        "$ref": "#/components/parameters/expandedOptional"
                    },
                    {
                        "$ref": "#/components/parameters/idSubtableOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=Actions.getPageTitlesFollowingSiteSearch&idSite=1&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=Actions.getPageTitlesFollowingSiteSearch&idSite=1&period=day&date=today&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=Actions.getPageTitlesFollowingSiteSearch&idSite=1&period=day&date=today&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "goals": {
                                                        "properties": {
                                                            "row": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "idgoal": {
                                                                            "type": "string",
                                                                            "xml": {
                                                                                "attribute": true
                                                                            },
                                                                            "example": "7"
                                                                        }
                                                                    },
                                                                    "type": "object",
                                                                    "xml": {
                                                                        "name": "row"
                                                                    },
                                                                    "additionalProperties": true
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "label": "Cart - Divezone Store",
                                            "nb_visits": "948",
                                            "nb_uniq_visitors": "812",
                                            "nb_hits": "1369",
                                            "sum_time_spent": "85178",
                                            "nb_hits_following_search": "4",
                                            "entry_nb_uniq_visitors": "31",
                                            "entry_nb_visits": "31",
                                            "entry_nb_actions": "163",
                                            "entry_sum_visit_length": "20237",
                                            "entry_bounce_count": "5",
                                            "exit_nb_uniq_visitors": "186",
                                            "exit_nb_visits": "200",
                                            "goals": {
                                                "row": [
                                                    {
                                                        "nb_conversions": "453",
                                                        "revenue": "75020.75",
                                                        "nb_conversions_page_uniq": "453",
                                                        "nb_conversions_page_rate": "0.494",
                                                        "idgoal": "ecommerceAbandonedCart"
                                                    },
                                                    {
                                                        "nb_conversions": "374",
                                                        "revenue": "78246.3",
                                                        "nb_conv_pages_before": "60",
                                                        "nb_conversions_attrib": "73.722",
                                                        "nb_conversions_page_rate": "0.992",
                                                        "nb_conversions_page_uniq": "374",
                                                        "revenue_attrib": "15691.42",
                                                        "revenue_entry": "1840.85",
                                                        "nb_conversions_entry_rate": "0.194",
                                                        "revenue_per_entry": "59.382",
                                                        "nb_conversions_entry": "6",
                                                        "idgoal": "ecommerceOrder"
                                                    }
                                                ]
                                            },
                                            "avg_page_load_time": "0",
                                            "avg_time_on_page": "62",
                                            "bounce_rate": "16%",
                                            "exit_rate": "21%"
                                        },
                                        {
                                            "label": "Diving Jobs, latest Divemaster and Scuba Dive Instructor Job offers!",
                                            "nb_visits": "798",
                                            "nb_uniq_visitors": "736",
                                            "nb_hits": "1571",
                                            "sum_time_spent": "66479",
                                            "nb_hits_following_search": "7",
                                            "entry_nb_uniq_visitors": "625",
                                            "entry_nb_visits": "674",
                                            "entry_nb_actions": "2210",
                                            "entry_sum_visit_length": "120002",
                                            "entry_bounce_count": "277",
                                            "exit_nb_uniq_visitors": "471",
                                            "exit_nb_visits": "509",
                                            "goals": {
                                                "row": [
                                                    {
                                                        "nb_conversions": "22",
                                                        "revenue": "22",
                                                        "nb_conv_pages_before": "14",
                                                        "nb_conversions_attrib": "3.5785",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "22",
                                                        "revenue_attrib": "3.58",
                                                        "revenue_entry": "7",
                                                        "nb_conversions_entry_rate": "0.01",
                                                        "revenue_per_entry": "0.01",
                                                        "nb_conversions_entry": "7",
                                                        "idgoal": "4"
                                                    },
                                                    {
                                                        "nb_conversions": "22",
                                                        "revenue": "110",
                                                        "nb_conv_pages_before": "5",
                                                        "nb_conversions_attrib": "8.6997",
                                                        "nb_conversions_page_rate": "1",
                                                        "nb_conversions_page_uniq": "22",
                                                        "revenue_attrib": "43.49",
                                                        "revenue_entry": "25",
                                                        "nb_conversions_entry_rate": "0.007",
                                                        "revenue_per_entry": "0.037",
                                                        "nb_conversions_entry": "5",
                                                        "idgoal": "5"
                                                    },
                                                    {
                                                        "nb_conversions": "37",
                                                        "revenue": "74",
                                                        "nb_conv_pages_before": "11",
                                                        "nb_conversions_attrib": "13.1306",
                                                        "nb_conversions_page_rate": "0.974",
                                                        "nb_conversions_page_uniq": "37",
                                                        "revenue_attrib": "26.28",
                                                        "revenue_entry": "52",
                                                        "nb_conversions_entry_rate": "0.039",
                                                        "revenue_per_entry": "0.077",
                                                        "nb_conversions_entry": "26",
                                                        "idgoal": "6"
                                                    },
                                                    {
                                                        "nb_conversions": "2",
                                                        "revenue": "2",
                                                        "nb_conv_pages_before": "4",
                                                        "nb_conversions_attrib": "0.5",
                                                        "nb_conversions_page_rate": "0.005",
                                                        "nb_conversions_page_uniq": "2",
                                                        "revenue_attrib": "0.5",
                                                        "idgoal": "7"
                                                    }
                                                ]
                                            },
                                            "avg_page_load_time": "0",
                                            "avg_time_on_page": "42",
                                            "bounce_rate": "41%",
                                            "exit_rate": "64%"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_visits": {
                                                        "type": "integer"
                                                    },
                                                    "nb_uniq_visitors": {
                                                        "type": "integer"
                                                    },
                                                    "nb_hits": {
                                                        "type": "integer"
                                                    },
                                                    "sum_time_spent": {
                                                        "type": "integer"
                                                    },
                                                    "nb_hits_following_search": {
                                                        "type": "string"
                                                    },
                                                    "entry_nb_uniq_visitors": {
                                                        "type": "integer"
                                                    },
                                                    "entry_nb_visits": {
                                                        "type": "string"
                                                    },
                                                    "entry_nb_actions": {
                                                        "type": "string"
                                                    },
                                                    "entry_sum_visit_length": {
                                                        "type": "string"
                                                    },
                                                    "entry_bounce_count": {
                                                        "type": "string"
                                                    },
                                                    "exit_nb_uniq_visitors": {
                                                        "type": "integer"
                                                    },
                                                    "exit_nb_visits": {
                                                        "type": "string"
                                                    },
                                                    "goals": {
                                                        "properties": {
                                                            "idgoal=ecommerceOrder": {
                                                                "properties": {
                                                                    "nb_conversions": {
                                                                        "type": "integer"
                                                                    },
                                                                    "revenue": {
                                                                        "type": [
                                                                            "string",
                                                                            "number",
                                                                            "integer",
                                                                            "boolean",
                                                                            "array",
                                                                            "object",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "nb_conv_pages_before": {
                                                                        "type": "integer"
                                                                    },
[...]
