{
    "openapi": "3.1.0",
    "info": {
        "title": "Matomo Reporting API for API plugin",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demo.matomo.cloud/",
            "description": "Matomo demo server"
        }
    ],
    "paths": {
        "/index.php?module=API&method=API.getMatomoVersion": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getMatomoVersion",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matomo version.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getMatomoVersion&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getMatomoVersion&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=API.getMatomoVersion&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": [
                                    "5.7.0-b1.20260118013446"
                                ]
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "value": "5.7.0-b1.20260118013446"
                                }
                            },
                            "application/vnd.ms-excel": {
                                "example": "value\n5.7.0-b1.20260118013446"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=API.getPhpVersion": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getPhpVersion",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Version details.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getPhpVersion&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getPhpVersion&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=API.getPhpVersion&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": {
                                        "version": "8.2.29",
                                        "major": "8",
                                        "minor": "2",
                                        "release": "29",
                                        "versionId": "80229",
                                        "extra": ""
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "version": {
                                            "type": "string"
                                        },
                                        "major": {
                                            "type": "integer"
                                        },
                                        "minor": {
                                            "type": "integer"
                                        },
                                        "release": {
                                            "type": "integer"
                                        },
                                        "versionId": {
                                            "type": "integer"
                                        },
                                        "extra": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "version": "8.2.29",
                                    "major": 8,
                                    "minor": 2,
                                    "release": 29,
                                    "versionId": 80229,
                                    "extra": ""
                                }
                            },
                            "application/vnd.ms-excel": {
                                "example": "version\tmajor\tminor\trelease\tversionId\textra\n8.2.29\t8\t2\t29\t80229\t"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=API.getIpFromHeader": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getIpFromHeader",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "IP address in presentation format.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getIpFromHeader&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getIpFromHeader&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=API.getIpFromHeader&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": [
                                    "116.206.161.255"
                                ]
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "value": "116.206.161.255"
                                }
                            },
                            "application/vnd.ms-excel": {
                                "example": "value\n116.206.161.255"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=API.getSegmentsMetadata": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getSegmentsMetadata",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSites",
                        "in": "query",
                        "description": "One site ID, an array of site IDs, a comma-separated list of site IDs, or 'all' for all accessible sites.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "[]"
                        }
                    },
                    {
                        "name": "_hideImplementationData",
                        "in": "query",
                        "description": "Whether to hide implementation details like SQL snippets.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "_showAllSegments",
                        "in": "query",
                        "description": "Whether to include internal segments.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Segment metadata rows.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getSegmentsMetadata&idSites=1,2&_hideImplementationData=1&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getSegmentsMetadata&idSites=1,2&_hideImplementationData=1&format=JSON&token_auth=anonymous), TSV (N/A)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Actions In Visit",
                                            "segment": "actions"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Days since first visit",
                                            "segment": "daysSinceFirstVisit"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Days since last Ecommerce order",
                                            "segment": "daysSinceLastEcommerceOrder"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Days since last visit",
                                            "segment": "daysSinceLastVisit"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Events",
                                            "segment": "events",
                                            "acceptedValues": "To select all visits who triggered an Event, use: &segment=events>0"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Local time \\u2014 minute (start of visit)",
                                            "segment": "visitLocalMinute",
                                            "acceptedValues": "0, 1, 2, 3, ..., 67, 57, 58, 59"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Number of Interactions",
                                            "segment": "interactions",
                                            "acceptedValues": "Any positive integer"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Number of Internal Searches",
                                            "segment": "searches",
                                            "acceptedValues": "To select all visits who used internal Site Search, use: &segment=searches>0"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Number of visits",
                                            "segment": "visitCount"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Seconds since first visit",
                                            "segment": "secondsSinceFirstVisit"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Seconds since last Ecommerce order",
                                            "segment": "secondsSinceLastEcommerceOrder"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Seconds since last visit",
                                            "segment": "secondsSinceLastVisit"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Visit Duration (in seconds)",
                                            "segment": "visitDuration"
                                        },
                                        {
                                            "type": "metric",
                                            "category": "Visitors",
                                            "name": "Visitor IP",
                                            "segment": "visitIp",
                                            "acceptedValues": "13.54.122.1. Select IP ranges with notation: <code>visitIp>13.54.122.0;visitIp<13.54.122.255<\\/code>",
                                            "permission": "0"
                                        },
                                        {
                                            "type": "dimension",
                                            "category": "Visitors",
                                            "name": "Browser",
                                            "segment": "browserName",
                                            "acceptedValues": "FireFox, Internet Explorer, Chrome, Safari, Opera etc."
                                        },
                                        {
                                            "type": "dimension",
                                            "category": "Visitors",
                                            "name": "Browser code",
                                            "segment": "browserCode",
                                            "acceptedValues": "FF, IE, CH, SF, OP etc."
                                        },
                                        {
                                            "type": "dimension",
                                            "category": "Visitors",
                                            "name": "Browser engine",
                                            "segment": "browserEngine",
                                            "acceptedValues": "Trident, WebKit, Presto, Gecko, Blink, etc.",
                                            "suggestedValuesCallback": "\\\\DeviceDetector\\\\Parser\\\\Client\\\\Browser\\\\Engine::getAvailableEngines"
                                        },
                                        {
                                            "type": "dimension",
                                            "category": "Visitors",
                                            "name": "Browser version",
                                            "segment": "browserVersion",
                                            "acceptedValues": "1.0, 8.0, etc."
                                        },
                                        {
                                            "type": "dimension",
                                            "category": "Visitors",
                                            "name": "Device model",
                                            "segment": "deviceModel",
                                            "acceptedValues": "iPad, Nexus 5, Galaxy S5, Fire TV, etc."
                                        },
                                        {
                                            "type": "dimension",
                                            "category": "Visitors",
                                            "name": "Device type",
                                            "segment": "deviceType",
                                            "acceptedValues": "desktop, smartphone, tablet, feature phone, console, tv, car browser, smart display, camera, portable media player, phablet, smart speaker, wearable, peripheral"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "segment": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Actions In Visit",
                                        "segment": "actions"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Days since first visit",
                                        "segment": "daysSinceFirstVisit"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Days since last Ecommerce order",
                                        "segment": "daysSinceLastEcommerceOrder"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Days since last visit",
                                        "segment": "daysSinceLastVisit"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Events",
                                        "segment": "events",
                                        "acceptedValues": "To select all visits who triggered an Event, use: &segment=events>0"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Local time \\u2014 minute (start of visit)",
                                        "segment": "visitLocalMinute",
                                        "acceptedValues": "0, 1, 2, 3, ..., 67, 57, 58, 59"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Number of Interactions",
                                        "segment": "interactions",
                                        "acceptedValues": "Any positive integer"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Number of Internal Searches",
                                        "segment": "searches",
                                        "acceptedValues": "To select all visits who used internal Site Search, use: &segment=searches>0"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Number of visits",
                                        "segment": "visitCount"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Seconds since first visit",
                                        "segment": "secondsSinceFirstVisit"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Seconds since last Ecommerce order",
                                        "segment": "secondsSinceLastEcommerceOrder"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Seconds since last visit",
                                        "segment": "secondsSinceLastVisit"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Visit Duration (in seconds)",
                                        "segment": "visitDuration"
                                    },
                                    {
                                        "type": "metric",
                                        "category": "Visitors",
                                        "name": "Visitor IP",
                                        "segment": "visitIp",
                                        "acceptedValues": "13.54.122.1. Select IP ranges with notation: <code>visitIp>13.54.122.0;visitIp<13.54.122.255<\\/code>",
                                        "permission": false
                                    },
                                    {
                                        "type": "dimension",
                                        "category": "Visitors",
                                        "name": "Browser",
                                        "segment": "browserName",
                                        "acceptedValues": "FireFox, Internet Explorer, Chrome, Safari, Opera etc."
                                    },
                                    {
                                        "type": "dimension",
                                        "category": "Visitors",
                                        "name": "Browser code",
                                        "segment": "browserCode",
                                        "acceptedValues": "FF, IE, CH, SF, OP etc."
                                    },
                                    {
                                        "type": "dimension",
                                        "category": "Visitors",
                                        "name": "Browser engine",
                                        "segment": "browserEngine",
                                        "acceptedValues": "Trident, WebKit, Presto, Gecko, Blink, etc.",
                                        "suggestedValuesCallback": "\\\\DeviceDetector\\\\Parser\\\\Client\\\\Browser\\\\Engine::getAvailableEngines"
                                    },
                                    {
                                        "type": "dimension",
                                        "category": "Visitors",
                                        "name": "Browser version",
                                        "segment": "browserVersion",
                                        "acceptedValues": "1.0, 8.0, etc."
                                    },
                                    {
                                        "type": "dimension",
                                        "category": "Visitors",
                                        "name": "Device model",
                                        "segment": "deviceModel",
                                        "acceptedValues": "iPad, Nexus 5, Galaxy S5, Fire TV, etc."
                                    },
                                    {
                                        "type": "dimension",
                                        "category": "Visitors",
                                        "name": "Device type",
                                        "segment": "deviceType",
                                        "acceptedValues": "desktop, smartphone, tablet, feature phone, console, tv, car browser, smart display, camera, portable media player, phablet, smart speaker, wearable, peripheral"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=API.getMetadata": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getMetadata",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "Site ID to scope metadata.",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "apiModule",
                        "in": "query",
                        "description": "API module name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiAction",
                        "in": "query",
                        "description": "API action name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiParameters",
                        "in": "query",
                        "description": "Optional parameters used to disambiguate reports.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "[]"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Locale code to translate labels, or false to use current language.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Period identifier enabled for API requests (from General.enabled_periods_API), typically 'day', 'week', 'month', 'year', 'range', plus any custom enabled periods. Use false to omit period context.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Date within the period or a range string. Supported keywords include 'today', 'yesterday', 'tomorrow', 'now', 'yesterdaySameTime', and 'last week'/'last month'/'last year'. Supported formats include 'YYYY-MM-DD', multiple-period shortcuts like 'lastN'/'previousN' (eg 'last7'), and ranges like 'YYYY-MM-DD,YYYY-MM-DD' or 'last month,today'. Relative keywords are evaluated in the site timezone when a single site is targeted; otherwise UTC is used.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hideMetricsDoc",
                        "in": "query",
                        "description": "Whether to exclude metrics documentation from the result.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "showSubtableReports",
                        "in": "query",
                        "description": "Whether to include subtable reports.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matching report metadata, or false if none.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getMetadata&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getMetadata&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=today&format=JSON&token_auth=anonymous), TSV (N/A)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": {
                                        "category": "Visitors",
                                        "subcategory": "Locations",
                                        "name": "Country",
                                        "module": "UserCountry",
                                        "action": "getCountry",
                                        "dimension": "Country",
                                        "documentation": "Shows which country your visitors connected from when accessing your website.",
                                        "metrics": {
                                            "nb_visits": "Visits",
                                            "nb_uniq_visitors": "Unique visitors",
                                            "nb_actions": "Actions",
                                            "nb_users": "Users"
                                        },
                                        "metricsDocumentation": {
                                            "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit.",
                                            "nb_uniq_visitors": "The number of unduplicated visitors coming to your website. Every user is only counted once, even if they visit the website multiple times a day.",
                                            "nb_actions": "The number of actions performed by your visitors. Actions can be page views, internal site searches, downloads or outlinks.",
                                            "nb_users": "The number of users logged in your website. It is the number of unique active users that have a User ID set (via the Tracking code function 'setUserId').",
                                            "nb_actions_per_visit": "The average number of actions (page views, site searches, downloads or outlinks) that were performed during the visits.",
                                            "avg_time_on_site": "The average duration of a visit.",
                                            "bounce_rate": "The percentage of visits that only had a single pageview. This means, that the visitor left the website directly from the entrance page.",
                                            "conversion_rate": "The percentage of visits that triggered a conversion. The conversion rate is calculated using the number of visits that converted at least one goal. Visits converting multiple goals are only counted once in the conversion rate."
                                        },
                                        "processedMetrics": {
                                            "nb_actions_per_visit": "Actions per Visit",
                                            "avg_time_on_site": "Avg. Time on Website",
                                            "bounce_rate": "Bounce Rate"
                                        },
                                        "metricTypes": {
                                            "nb_visits": "number",
                                            "nb_uniq_visitors": "number",
                                            "nb_actions": "number",
                                            "nb_users": "number",
                                            "nb_actions_per_visit": "number",
                                            "avg_time_on_site": "duration_s",
                                            "bounce_rate": "percent",
                                            "conversion_rate": "percent"
                                        },
                                        "metricsGoal": {
                                            "nb_conversions": "Conversions",
                                            "revenue": "Revenue"
                                        },
                                        "processedMetricsGoal": {
                                            "revenue_per_visit": "Revenue per Visit"
                                        },
                                        "metricTypesGoal": {
                                            "revenue_per_visit": "money",
                                            "nb_conversions": "number",
                                            "conversion_rate": "percent",
                                            "revenue": "money"
                                        },
                                        "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=today",
                                        "imageGraphEvolutionUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=2025-12-29,2026-01-27",
                                        "uniqueId": "UserCountry_getCountry"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "subcategory": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "module": {
                                                        "type": "string"
                                                    },
                                                    "action": {
                                                        "type": "string"
                                                    },
                                                    "dimension": {
                                                        "type": "string"
                                                    },
                                                    "documentation": {
                                                        "type": "string"
                                                    },
                                                    "metricTypesGoal": {
                                                        "properties": {
                                                            "revenue_per_visit": {
                                                                "type": "string"
                                                            },
                                                            "nb_conversions": {
                                                                "type": "string"
                                                            },
                                                            "conversion_rate": {
                                                                "type": "string"
                                                            },
                                                            "revenue": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "imageGraphUrl": {
                                                        "type": "string"
                                                    },
                                                    "imageGraphEvolutionUrl": {
                                                        "type": "string"
                                                    },
                                                    "uniqueId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "category": "Visitors",
                                        "subcategory": "Locations",
                                        "name": "Country",
                                        "module": "UserCountry",
                                        "action": "getCountry",
                                        "dimension": "Country",
                                        "documentation": "Shows which country your visitors connected from when accessing your website.",
                                        "metrics": {
                                            "nb_visits": "Visits",
                                            "nb_uniq_visitors": "Unique visitors",
                                            "nb_actions": "Actions",
                                            "nb_users": "Users"
                                        },
                                        "metricsDocumentation": {
                                            "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit.",
                                            "nb_uniq_visitors": "The number of unduplicated visitors coming to your website. Every user is only counted once, even if they visit the website multiple times a day.",
                                            "nb_actions": "The number of actions performed by your visitors. Actions can be page views, internal site searches, downloads or outlinks.",
                                            "nb_users": "The number of users logged in your website. It is the number of unique active users that have a User ID set (via the Tracking code function 'setUserId').",
                                            "nb_actions_per_visit": "The average number of actions (page views, site searches, downloads or outlinks) that were performed during the visits.",
                                            "avg_time_on_site": "The average duration of a visit.",
                                            "bounce_rate": "The percentage of visits that only had a single pageview. This means, that the visitor left the website directly from the entrance page.",
                                            "conversion_rate": "The percentage of visits that triggered a conversion. The conversion rate is calculated using the number of visits that converted at least one goal. Visits converting multiple goals are only counted once in the conversion rate."
                                        },
                                        "processedMetrics": {
                                            "nb_actions_per_visit": "Actions per Visit",
                                            "avg_time_on_site": "Avg. Time on Website",
                                            "bounce_rate": "Bounce Rate"
                                        },
                                        "metricTypes": {
                                            "nb_visits": "number",
                                            "nb_uniq_visitors": "number",
                                            "nb_actions": "number",
                                            "nb_users": "number",
                                            "nb_actions_per_visit": "number",
                                            "avg_time_on_site": "duration_s",
                                            "bounce_rate": "percent",
                                            "conversion_rate": "percent"
                                        },
                                        "metricsGoal": {
                                            "nb_conversions": "Conversions",
                                            "revenue": "Revenue"
                                        },
                                        "processedMetricsGoal": {
                                            "revenue_per_visit": "Revenue per Visit"
                                        },
                                        "metricTypesGoal": {
                                            "revenue_per_visit": "money",
                                            "nb_conversions": "number",
                                            "conversion_rate": "percent",
                                            "revenue": "money"
                                        },
                                        "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=today",
                                        "imageGraphEvolutionUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=2025-12-29,2026-01-27",
                                        "uniqueId": "UserCountry_getCountry"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=API.getReportMetadata": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getReportMetadata",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSites",
                        "in": "query",
                        "description": "THIS PARAMETER IS DEPRECATED AND WILL BE REMOVED IN PIWIK 4. Accepts a site ID, a list of site IDs, or a comma-separated list.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string",
                                    "default": ""
                                }
                            ]
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Period identifier enabled for API requests (from General.enabled_periods_API), typically 'day', 'week', 'month', 'year', 'range', plus any custom enabled periods. Use false to omit period context.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Date within the period or a range string. Supported keywords include 'today', 'yesterday', 'tomorrow', 'now', 'yesterdaySameTime', and 'last week'/'last month'/'last year'. Supported formats include 'YYYY-MM-DD', multiple-period shortcuts like 'lastN'/'previousN' (eg 'last7'), and ranges like 'YYYY-MM-DD,YYYY-MM-DD' or 'last month,today'. Relative keywords are evaluated in the site timezone when a single site is targeted; otherwise UTC is used.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hideMetricsDoc",
                        "in": "query",
                        "description": "Whether to exclude metrics documentation from the result.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "showSubtableReports",
                        "in": "query",
                        "description": "Whether to include subtable reports.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "Site ID to scope metadata, or derive from $idSites.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report metadata entries.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getReportMetadata&idSites=1,2&period=day&date=today&idSite=1&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getReportMetadata&idSites=1,2&period=day&date=today&idSite=1&format=JSON&token_auth=anonymous), TSV (N/A)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "metrics": {
                                                        "type": "object"
                                                    },
                                                    "metricsDocumentation": {
                                                        "type": "object"
                                                    },
                                                    "processedMetrics": {
                                                        "type": "object"
                                                    },
                                                    "metricTypes": {
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "category": "All Websites",
                                            "name": "All Websites dashboard",
                                            "module": "MultiSites",
                                            "action": "getAll",
                                            "dimension": "Website",
                                            "documentation": "This report gives you an informational overview for each of your websites, containing the most general metrics about your visitors.",
                                            "metrics": {
                                                "nb_visits": "Visits",
                                                "nb_actions": "Actions",
                                                "nb_pageviews": "Pageviews",
                                                "hits": "Hits",
                                                "revenue": "Revenue",
                                                "nb_conversions": "Conversions",
                                                "orders": "Ecommerce Orders",
                                                "ecommerce_revenue": "Product Revenue"
                                            },
                                            "metricsDocumentation": {
                                                "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit.",
                                                "nb_actions": "The number of actions performed by your visitors. Actions can be page views, internal site searches, downloads or outlinks.",
                                                "nb_pageviews": "The number of times this page was visited.",
                                                "hits": "The total count of all interactions recorded on your website, including page views, link clicks, downloads, and events."
                                            },
                                            "processedMetrics": {
                                                "visits_evolution": "Visits Evolution",
                                                "actions_evolution": "Actions Evolution",
                                                "pageviews_evolution": "Pageviews Evolution",
                                                "hits_evolution": "Hits Evolution",
                                                "revenue_evolution": "Revenue Evolution",
                                                "nb_conversions_evolution": "Conversions Evolution",
                                                "orders_evolution": "Ecommerce Orders Evolution",
                                                "ecommerce_revenue_evolution": "Product Revenue Evolution"
                                            },
                                            "metricTypes": {
                                                "nb_visits": "number",
                                                "nb_actions": "number",
                                                "nb_pageviews": "number",
                                                "hits": "number",
                                                "revenue": "money",
                                                "nb_conversions": "number",
                                                "orders": "number",
                                                "ecommerce_revenue": "money",
                                                "visits_evolution": "percent",
                                                "actions_evolution": "percent",
                                                "pageviews_evolution": "percent",
                                                "hits_evolution": "percent",
                                                "revenue_evolution": "percent",
                                                "nb_conversions_evolution": "percent",
                                                "orders_evolution": "percent",
                                                "ecommerce_revenue_evolution": "percent"
                                            },
                                            "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=MultiSites&apiAction=getAll&period=day&date=today",
                                            "imageGraphEvolutionUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=MultiSites&apiAction=getAll&period=day&date=2025-12-29,2026-01-27",
                                            "uniqueId": "MultiSites_getAll"
                                        },
                                        {
                                            "category": "Actions",
                                            "subcategory": "Engagement",
                                            "name": "Visits by days since last visit",
                                            "module": "VisitorInterest",
                                            "action": "getNumberOfVisitsByDaysSinceLast",
                                            "dimension": "Days since last visit",
                                            "documentation": "How many visits were from returning visitors whose last visit was a certain number of days ago.",
                                            "metrics": {
                                                "nb_visits": "Visits"
                                            },
                                            "metricsDocumentation": {
                                                "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit."
                                            },
                                            "metricTypes": {
                                                "nb_visits": "number"
                                            },
                                            "constantRowsCount": "1",
                                            "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=VisitorInterest&apiAction=getNumberOfVisitsByDaysSinceLast&period=day&date=today",
                                            "uniqueId": "VisitorInterest_getNumberOfVisitsByDaysSinceLast"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "module": {
                                                        "type": "string"
                                                    },
                                                    "action": {
                                                        "type": "string"
                                                    },
                                                    "dimension": {
                                                        "type": "string"
                                                    },
                                                    "documentation": {
                                                        "type": "string"
                                                    },
                                                    "metricTypes": {
                                                        "properties": {
                                                            "nb_visits": {
                                                                "type": "string"
                                                            },
                                                            "nb_actions": {
                                                                "type": "string"
                                                            },
                                                            "nb_pageviews": {
                                                                "type": "string"
                                                            },
                                                            "hits": {
                                                                "type": "string"
                                                            },
                                                            "revenue": {
                                                                "type": "string"
                                                            },
                                                            "nb_conversions": {
                                                                "type": "string"
                                                            },
                                                            "orders": {
                                                                "type": "string"
                                                            },
                                                            "ecommerce_revenue": {
                                                                "type": "string"
                                                            },
                                                            "visits_evolution": {
                                                                "type": "string"
                                                            },
                                                            "actions_evolution": {
                                                                "type": "string"
                                                            },
                                                            "pageviews_evolution": {
                                                                "type": "string"
                                                            },
                                                            "hits_evolution": {
                                                                "type": "string"
                                                            },
                                                            "revenue_evolution": {
                                                                "type": "string"
                                                            },
                                                            "nb_conversions_evolution": {
                                                                "type": "string"
                                                            },
                                                            "orders_evolution": {
                                                                "type": "string"
                                                            },
                                                            "ecommerce_revenue_evolution": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "imageGraphUrl": {
                                                        "type": "string"
                                                    },
                                                    "imageGraphEvolutionUrl": {
                                                        "type": "string"
                                                    },
                                                    "uniqueId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "category": "All Websites",
                                        "name": "All Websites dashboard",
                                        "module": "MultiSites",
                                        "action": "getAll",
                                        "dimension": "Website",
                                        "documentation": "This report gives you an informational overview for each of your websites, containing the most general metrics about your visitors.",
                                        "metrics": {
                                            "nb_visits": "Visits",
                                            "nb_actions": "Actions",
                                            "nb_pageviews": "Pageviews",
                                            "hits": "Hits",
                                            "revenue": "Revenue",
                                            "nb_conversions": "Conversions",
                                            "orders": "Ecommerce Orders",
                                            "ecommerce_revenue": "Product Revenue"
                                        },
                                        "metricsDocumentation": {
                                            "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit.",
                                            "nb_actions": "The number of actions performed by your visitors. Actions can be page views, internal site searches, downloads or outlinks.",
                                            "nb_pageviews": "The number of times this page was visited.",
                                            "hits": "The total count of all interactions recorded on your website, including page views, link clicks, downloads, and events."
                                        },
                                        "processedMetrics": {
                                            "visits_evolution": "Visits Evolution",
                                            "actions_evolution": "Actions Evolution",
                                            "pageviews_evolution": "Pageviews Evolution",
                                            "hits_evolution": "Hits Evolution",
                                            "revenue_evolution": "Revenue Evolution",
                                            "nb_conversions_evolution": "Conversions Evolution",
                                            "orders_evolution": "Ecommerce Orders Evolution",
                                            "ecommerce_revenue_evolution": "Product Revenue Evolution"
                                        },
                                        "metricTypes": {
                                            "nb_visits": "number",
                                            "nb_actions": "number",
                                            "nb_pageviews": "number",
                                            "hits": "number",
                                            "revenue": "money",
                                            "nb_conversions": "number",
                                            "orders": "number",
                                            "ecommerce_revenue": "money",
                                            "visits_evolution": "percent",
                                            "actions_evolution": "percent",
                                            "pageviews_evolution": "percent",
                                            "hits_evolution": "percent",
                                            "revenue_evolution": "percent",
                                            "nb_conversions_evolution": "percent",
                                            "orders_evolution": "percent",
                                            "ecommerce_revenue_evolution": "percent"
                                        },
                                        "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=MultiSites&apiAction=getAll&period=day&date=today",
                                        "imageGraphEvolutionUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=MultiSites&apiAction=getAll&period=day&date=2025-12-29,2026-01-27",
                                        "uniqueId": "MultiSites_getAll"
                                    },
                                    {
                                        "category": "Actions",
                                        "subcategory": "Engagement",
                                        "name": "Visits by days since last visit",
                                        "module": "VisitorInterest",
                                        "action": "getNumberOfVisitsByDaysSinceLast",
                                        "dimension": "Days since last visit",
                                        "documentation": "How many visits were from returning visitors whose last visit was a certain number of days ago.",
                                        "metrics": {
                                            "nb_visits": "Visits"
                                        },
                                        "metricsDocumentation": {
                                            "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit."
                                        },
                                        "metricTypes": {
                                            "nb_visits": "number"
                                        },
                                        "constantRowsCount": true,
                                        "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=VisitorInterest&apiAction=getNumberOfVisitsByDaysSinceLast&period=day&date=today",
                                        "uniqueId": "VisitorInterest_getNumberOfVisitsByDaysSinceLast"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=API.getProcessedReport": {
            "get": {
                "tags": [
                    "API"
                ],
                "operationId": "API.getProcessedReport",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "Site ID to query.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Period identifier enabled for API requests (from General.enabled_periods_API), typically 'day', 'week', 'month', 'year', 'range', plus any custom enabled periods.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Date within the period or a range string. Supported keywords include 'today', 'yesterday', 'tomorrow', 'now', 'yesterdaySameTime', and 'last week'/'last month'/'last year'. Supported formats include 'YYYY-MM-DD', multiple-period shortcuts like 'lastN'/'previousN' (eg 'last7'), and ranges like 'YYYY-MM-DD,YYYY-MM-DD' or 'last month,today'. Relative keywords are evaluated in the site timezone when a single site is targeted; otherwise UTC is used.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiModule",
                        "in": "query",
                        "description": "API module name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiAction",
                        "in": "query",
                        "description": "API action name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Segment expression, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiParameters",
                        "in": "query",
                        "description": "Extra API parameters to include in the request.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idGoal",
                        "in": "query",
                        "description": "Goal ID to use, or false to use default.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Locale code to translate labels, or false to use current language.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "showTimer",
                        "in": "query",
                        "description": "Whether to include the processing timer in the response.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "hideMetricsDoc",
                        "in": "query",
                        "description": "Whether to exclude metrics documentation from the report metadata.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "idSubtable",
                        "in": "query",
                        "description": "Subtable ID to fetch, or false for top-level report.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "showRawMetrics",
                        "in": "query",
                        "description": "Whether to include raw metrics in addition to processed metrics.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "format_metrics",
                        "in": "query",
                        "description": "If null or 'bc', metrics are formatted as human-readable strings.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "null"
                        }
                    },
                    {
                        "name": "idDimension",
                        "in": "query",
                        "description": "Dimension ID to use, or false to use default.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Processed report payload.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=API.getProcessedReport&idSite=1&period=day&date=today&apiModule=UserCountry&apiAction=getCountry&showTimer=1&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=API.getProcessedReport&idSite=1&period=day&date=today&apiModule=UserCountry&apiAction=getCountry&showTimer=1&format=JSON&token_auth=anonymous), TSV (N/A)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "metadata": {
                                            "properties": {
                                                "metrics": {
                                                    "type": "object"
                                                },
                                                "metricsDocumentation": {
                                                    "type": "object"
                                                },
                                                "processedMetrics": {
                                                    "type": "object"
                                                },
                                                "metricTypes": {
                                                    "type": "object"
                                                },
                                                "metricsGoal": {
                                                    "type": "object"
                                                },
                                                "processedMetricsGoal": {
                                                    "type": "object"
                                                },
                                                "metricTypesGoal": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "columns": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "website": "Demo Site",
                                    "prettyDate": "Tuesday, January 27, 2026",
                                    "metadata": {
                                        "category": "Visitors",
                                        "subcategory": "Locations",
                                        "name": "Country",
                                        "module": "UserCountry",
                                        "action": "getCountry",
                                        "dimension": "Country",
                                        "documentation": "Shows which country your visitors connected from when accessing your website.",
                                        "metrics": {
                                            "nb_visits": "Visits",
                                            "nb_uniq_visitors": "Unique visitors",
                                            "nb_actions": "Actions",
                                            "nb_users": "Users"
                                        },
                                        "metricsDocumentation": {
                                            "nb_visits": "If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit.",
                                            "nb_uniq_visitors": "The number of unduplicated visitors coming to your website. Every user is only counted once, even if they visit the website multiple times a day.",
                                            "nb_actions": "The number of actions performed by your visitors. Actions can be page views, internal site searches, downloads or outlinks.",
                                            "nb_users": "The number of users logged in your website. It is the number of unique active users that have a User ID set (via the Tracking code function 'setUserId').",
                                            "nb_actions_per_visit": "The average number of actions (page views, site searches, downloads or outlinks) that were performed during the visits.",
                                            "avg_time_on_site": "The average duration of a visit.",
                                            "bounce_rate": "The percentage of visits that only had a single pageview. This means, that the visitor left the website directly from the entrance page.",
                                            "conversion_rate": "The percentage of visits that triggered a conversion. The conversion rate is calculated using the number of visits that converted at least one goal. Visits converting multiple goals are only counted once in the conversion rate."
                                        },
                                        "processedMetrics": {
                                            "nb_actions_per_visit": "Actions per Visit",
                                            "avg_time_on_site": "Avg. Time on Website",
                                            "bounce_rate": "Bounce Rate"
                                        },
                                        "metricTypes": {
                                            "nb_visits": "number",
                                            "nb_uniq_visitors": "number",
                                            "nb_actions": "number",
                                            "nb_users": "number",
                                            "nb_actions_per_visit": "number",
                                            "avg_time_on_site": "duration_s",
                                            "bounce_rate": "percent",
                                            "conversion_rate": "percent"
                                        },
                                        "metricsGoal": {
                                            "nb_conversions": "Conversions",
                                            "revenue": "Revenue"
                                        },
                                        "processedMetricsGoal": {
                                            "revenue_per_visit": "Revenue per Visit"
                                        },
                                        "metricTypesGoal": {
                                            "revenue_per_visit": "money",
                                            "nb_conversions": "number",
                                            "conversion_rate": "percent",
                                            "revenue": "money"
                                        },
                                        "imageGraphUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=today",
                                        "imageGraphEvolutionUrl": "index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=UserCountry&apiAction=getCountry&period=day&date=2025-12-29,2026-01-27",
                                        "uniqueId": "UserCountry_getCountry"
                                    },
                                    "columns": {
                                        "label": "Country",
                                        "nb_visits": "Visits",
                                        "nb_uniq_visitors": "Unique visitors",
                                        "nb_actions": "Actions",
                                        "nb_users": "Users",
                                        "nb_actions_per_visit": "Actions per Visit",
                                        "avg_time_on_site": "Avg. Time on Website",
                                        "bounce_rate": "Bounce Rate",
                                        "revenue": "Revenue"
                                    },
                                    "timerMillis": "148"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "website": {
                                            "type": "string"
                                        },
                                        "prettyDate": {
                                            "type": "string"
                                        },
                                        "columns": {
                                            "properties": {
                                                "label": {
                                                    "type": "string"
                                                },
                                                "nb_visits": {
                                                    "type": "string"
                                                },
                                                "nb_uniq_visitors": {
                                                    "type": "string"
                                                },
                                                "nb_actions": {
                                                    "type": "string"
                                                },
                                                "nb_users": {
                                                    "type": "string"
                                                },
                                                "nb_actions_per_visit": {
                                                    "type": "string"
                                                },
[...]
