{
    "openapi": "3.1.0",
    "info": {
        "title": "Matomo Reporting API for CrashAnalytics plugin",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demo.matomo.cloud/",
            "description": "Matomo demo server"
        }
    ],
    "paths": {
        "/index.php?module=API&method=CrashAnalytics.mergeCrashes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Merges multiple crashes so they will be treated as the same crash in reports.",
                "operationId": "CrashAnalytics.mergeCrashes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idLogCrashes",
                        "in": "query",
                        "description": "Crash IDs to merge, either as an array or a comma-separated list. Example: [12, 34] or 12 or \"12,34\".",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                },
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GenericSuccess"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.unmergeCrashGroup": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Unmerge a previously merged crash group.",
                "operationId": "CrashAnalytics.unmergeCrashGroup",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idLogCrash",
                        "in": "query",
                        "description": "The crash group ID to unmerge.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GenericSuccess"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getCrashGroups": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets every merged crash group for a site.",
                "operationId": "CrashAnalytics.getCrashGroups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Crash groups keyed by group ID."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getCrashTypes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the list of unique crash types that were tracked for a specific site.",
                "operationId": "CrashAnalytics.getCrashTypes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter_limit",
                        "in": "query",
                        "description": "Maximum number of types to return, or false to return all.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Unique crash types.",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        "ApiError",
                                        "Error",
                                        "SyntaxError",
                                        "TypeError",
                                        "ReferenceError",
                                        "RangeError",
                                        "unknown"
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                },
                                "example": [
                                    "ApiError",
                                    "Error",
                                    "SyntaxError",
                                    "TypeError",
                                    "ReferenceError",
                                    "RangeError",
                                    "unknown"
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.setIgnoreCrash": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Set whether a crash should be ignored when tracking or whether it should no longer be ignored.",
                "operationId": "CrashAnalytics.setIgnoreCrash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idLogCrash",
                        "in": "query",
                        "description": "The crash ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ignore",
                        "in": "query",
                        "description": "If true or non-zero, the crash will be ignored. Ignored crashes are not logged when encountered during tracking. If false or 0, the crash will be unignored.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GenericSuccess"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getIgnoredCrashes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Get the list of currently ignored crashes for a site.",
                "operationId": "CrashAnalytics.getIgnoredCrashes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of ignored crashes. Each entry contains information about the specific crash, including the crash message, originating source and other information."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getCrashSummary": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets information for a specific crash including it's message, originating source and other information, if one can be found. The most recently tracked crash and page URL that encountered the crash will also be included.",
                "operationId": "CrashAnalytics.getCrashSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idLogCrash",
                        "in": "query",
                        "description": "The crash ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Crash summary details, including the latest crash event info when available."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getCrashVisitContext": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the crash visit context, which includes information about the most recent visits that encountered the crash and the actions that occurred just before the crash.",
                "operationId": "CrashAnalytics.getCrashVisitContext",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idLogCrash",
                        "in": "query",
                        "description": "The crash ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_limit",
                        "in": "query",
                        "description": "Maximum number of crashes to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 5
                        }
                    },
                    {
                        "name": "filter_offset",
                        "in": "query",
                        "description": "Offset for paging.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "fetchRecentActions",
                        "in": "query",
                        "description": "Whether to fetch the most recent actions or not. By default they are fetched, but you may want to skip this for performance reasons.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Crash visit context rows."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getAllCrashes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the list of every crash tracked for a site.",
                "operationId": "CrashAnalytics.getAllCrashes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter_sort_column",
                        "in": "query",
                        "description": "The crash property to sort by.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "datetime_last_seen"
                        }
                    },
                    {
                        "name": "filter_sort_order",
                        "in": "query",
                        "description": "'asc' or 'desc'.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc"
                        }
                    },
                    {
                        "name": "filter_limit",
                        "in": "query",
                        "description": "The max number of crashes to return (cannot be greater than 10000).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "filter_offset",
                        "in": "query",
                        "description": "The offset for paging.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Crash rows.",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "idlogcrash": "25",
                                            "idsite": "1",
                                            "crash_type": "RangeError",
                                            "message": "precision -2 out of range",
                                            "resource_uri": "http:\\/\\/anothersite.com\\/src\\/ReportMetadata.store.ts",
                                            "stack_trace": "at e.value (http:\\/\\/anothersite.com\\/src\\/ReportMetadata.store.ts:54:21)\\n    at e.value (http:\\/\\/anothersite.com\\/src\\/ReportingPage.store.ts:157:35)\\n    at Proxy.renderPage (http:\\/\\/anothersite.com\\/src\\/ReportingPage.vue?96fe:146:34)\\n    at http:\\/\\/anothersite.com\\/src\\/ReportingPage.vue?96fe:86:12\\n    at callWithErrorHandling (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8407:24)\\n    at callWithAsyncErrorHandling (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8416:23)\\n    at Array.job (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8791:19)\\n    at flushPreFlushCbs (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8575:47)\\n    at flushJobs (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8615:7)",
                                            "resource_line": "54",
                                            "resource_column": "21",
                                            "datetime_first_seen": "2023-08-30 04:26:02",
                                            "datetime_ignored_error": "",
                                            "datetime_last_seen": "2026-02-16 01:12:07",
                                            "datetime_last_reappeared": "",
                                            "group_idlogcrash": "",
                                            "datetime_first_seen_pretty": "Wednesday, August 30, 2023 04:26:02",
                                            "datetime_last_seen_pretty": "Monday, February 16, 2026 01:12:07",
                                            "datetime_last_reappeared_pretty": "",
                                            "datetime_ignored_error_pretty": "",
                                            "date_first_seen": "2023-08-30",
                                            "date_first_seen_pretty": "Aug 30, 2023",
                                            "date_last_seen": "2026-02-16",
                                            "date_last_seen_pretty": "Feb 16, 2026"
                                        },
                                        {
                                            "idlogcrash": "125",
                                            "idsite": "1",
                                            "crash_type": "Error",
                                            "message": "Unknown period type 'cycle'.",
                                            "resource_uri": "https:\\/\\/divezone.net\\/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday",
                                            "stack_trace": "at initializeWidgets (index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:375:36)\\n    at setUpPage (index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:383:21)\\n    at index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:386:17\\n    at index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:387:15",
                                            "resource_line": "375",
                                            "resource_column": "36",
                                            "datetime_first_seen": "2023-08-30 11:51:11",
                                            "datetime_ignored_error": "",
                                            "datetime_last_seen": "2026-02-16 01:10:38",
                                            "datetime_last_reappeared": "",
                                            "group_idlogcrash": "",
                                            "datetime_first_seen_pretty": "Wednesday, August 30, 2023 11:51:11",
                                            "datetime_last_seen_pretty": "Monday, February 16, 2026 01:10:38",
                                            "datetime_last_reappeared_pretty": "",
                                            "datetime_ignored_error_pretty": "",
                                            "date_first_seen": "2023-08-30",
                                            "date_first_seen_pretty": "Aug 30, 2023",
                                            "date_last_seen": "2026-02-16",
                                            "date_last_seen_pretty": "Feb 16, 2026"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "idlogcrash": {
                                                        "type": "integer"
                                                    },
                                                    "idsite": {
                                                        "type": "integer"
                                                    },
                                                    "crash_type": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "resource_uri": {
                                                        "type": "string"
                                                    },
                                                    "stack_trace": {
                                                        "type": "string"
                                                    },
                                                    "resource_line": {
                                                        "type": "integer"
                                                    },
                                                    "resource_column": {
                                                        "type": "integer"
                                                    },
                                                    "datetime_first_seen": {
                                                        "type": "string"
                                                    },
                                                    "datetime_ignored_error": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "datetime_last_seen": {
                                                        "type": "string"
                                                    },
                                                    "datetime_last_reappeared": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "group_idlogcrash": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "datetime_first_seen_pretty": {
                                                        "type": "string"
                                                    },
                                                    "datetime_last_seen_pretty": {
                                                        "type": "string"
                                                    },
                                                    "datetime_last_reappeared_pretty": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "datetime_ignored_error_pretty": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "date_first_seen": {
                                                        "type": "string"
                                                    },
                                                    "date_first_seen_pretty": {
                                                        "type": "string"
                                                    },
                                                    "date_last_seen": {
                                                        "type": "string"
                                                    },
                                                    "date_last_seen_pretty": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "idlogcrash": 25,
                                        "idsite": 1,
                                        "crash_type": "RangeError",
                                        "message": "precision -2 out of range",
                                        "resource_uri": "http:\\/\\/anothersite.com\\/src\\/ReportMetadata.store.ts",
                                        "stack_trace": "    at e.value (http:\\/\\/anothersite.com\\/src\\/ReportMetadata.store.ts:54:21)\\n    at e.value (http:\\/\\/anothersite.com\\/src\\/ReportingPage.store.ts:157:35)\\n    at Proxy.renderPage (http:\\/\\/anothersite.com\\/src\\/ReportingPage.vue?96fe:146:34)\\n    at http:\\/\\/anothersite.com\\/src\\/ReportingPage.vue?96fe:86:12\\n    at callWithErrorHandling (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8407:24)\\n    at callWithAsyncErrorHandling (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8416:23)\\n    at Array.job (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8791:19)\\n    at flushPreFlushCbs (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8575:47)\\n    at flushJobs (http:\\/\\/anothersite.com\\/src\\/vue.global.js?cb=6953:8615:7)",
                                        "resource_line": 54,
                                        "resource_column": 21,
                                        "datetime_first_seen": "2023-08-30 04:26:02",
                                        "datetime_ignored_error": null,
                                        "datetime_last_seen": "2026-02-16 01:12:07",
                                        "datetime_last_reappeared": null,
                                        "group_idlogcrash": null,
                                        "datetime_first_seen_pretty": "Wednesday, August 30, 2023 04:26:02",
                                        "datetime_last_seen_pretty": "Monday, February 16, 2026 01:12:07",
                                        "datetime_last_reappeared_pretty": null,
                                        "datetime_ignored_error_pretty": null,
                                        "date_first_seen": "2023-08-30",
                                        "date_first_seen_pretty": "Aug 30, 2023",
                                        "date_last_seen": "2026-02-16",
                                        "date_last_seen_pretty": "Feb 16, 2026"
                                    },
                                    {
                                        "idlogcrash": 125,
                                        "idsite": 1,
                                        "crash_type": "Error",
                                        "message": "Unknown period type 'cycle'.",
                                        "resource_uri": "https:\\/\\/divezone.net\\/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday",
                                        "stack_trace": "    at initializeWidgets (index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:375:36)\\n    at setUpPage (index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:383:21)\\n    at index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:386:17\\n    at index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday:387:15",
                                        "resource_line": 375,
                                        "resource_column": 36,
                                        "datetime_first_seen": "2023-08-30 11:51:11",
                                        "datetime_ignored_error": null,
                                        "datetime_last_seen": "2026-02-16 01:10:38",
                                        "datetime_last_reappeared": null,
                                        "group_idlogcrash": null,
                                        "datetime_first_seen_pretty": "Wednesday, August 30, 2023 11:51:11",
                                        "datetime_last_seen_pretty": "Monday, February 16, 2026 01:10:38",
                                        "datetime_last_reappeared_pretty": null,
                                        "datetime_ignored_error_pretty": null,
                                        "date_first_seen": "2023-08-30",
                                        "date_first_seen_pretty": "Aug 30, 2023",
                                        "date_last_seen": "2026-02-16",
                                        "date_last_seen_pretty": "Feb 16, 2026"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.get": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets an overview report for crashes encountered. Includes overall metrics like the total number of crashes encountered, how many were new, how many disappeared within the period, etc.",
                "operationId": "CrashAnalytics.get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "columns",
                        "in": "query",
                        "description": "Metrics to include, as a list or comma-separated string.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Overview report data.",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "nb_crash_occurrences": "2",
                                    "nb_visits_with_crash": "2",
                                    "nb_ignored_crashes": "0",
                                    "nb_uniq_crashes": "2",
                                    "nb_new_crashes": "0",
                                    "nb_disappeared_crashes": "0",
                                    "nb_reappeared_crashes": "0",
                                    "visits_crash_rate": "0.1"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nb_crash_occurrences": {
                                            "type": "integer"
                                        },
                                        "nb_visits_with_crash": {
                                            "type": "integer"
                                        },
                                        "nb_ignored_crashes": {
                                            "type": "integer"
                                        },
                                        "nb_uniq_crashes": {
                                            "type": "integer"
                                        },
                                        "nb_new_crashes": {
                                            "type": "integer"
                                        },
                                        "nb_disappeared_crashes": {
                                            "type": "integer"
                                        },
                                        "nb_reappeared_crashes": {
                                            "type": "integer"
                                        },
                                        "visits_crash_rate": {
                                            "type": [
                                                "string",
                                                "number",
                                                "integer",
                                                "boolean",
                                                "array",
                                                "object",
                                                "null"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "nb_crash_occurrences": 2,
                                    "nb_visits_with_crash": 2,
                                    "nb_ignored_crashes": 0,
                                    "nb_uniq_crashes": 2,
                                    "nb_new_crashes": 0,
                                    "nb_disappeared_crashes": 0,
                                    "nb_reappeared_crashes": 0,
                                    "visits_crash_rate": 0.1
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getAllCrashMessages": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets a report displaying crash message / originating source combinations encountered.",
                "operationId": "CrashAnalytics.getAllCrashMessages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_pattern",
                        "in": "query",
                        "description": "Case-insensitive pattern to filter crash messages.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "label": "JSON.parse: unexpected character at line 1 column 13 of the JSON data",
                                            "nb_crash_occurrences": "1",
                                            "nb_visits_with_crash": "1",
                                            "nb_new_crashes": "0",
                                            "nb_reappeared_crashes": "0",
                                            "crash_type": "SyntaxError",
                                            "crash_source": "https:\\/\\/divezone.net\\/ContentBlock.vue?.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/cache-loader\\/dist\\/cjs.js??ref--14-0!.\\/node_modules\\/babel-loader\\/lib!.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/ts-loader??ref--14-2!.\\/node_modules\\/@vue\\/cli-service\\/node_modules\\/cache-loader\\/dist\\/",
                                            "visits_crash_rate": "0.05",
                                            "crash_first_seen": "2023-08-30 11:45:14",
                                            "crash_last_seen": "2026-02-15 23:01:28",
                                            "crash_last_reappeared": "",
                                            "idlogcrash": "123",
                                            "segment": "crashId==123"
                                        },
                                        {
                                            "label": "precision -2 out of range",
                                            "nb_crash_occurrences": "1",
                                            "nb_visits_with_crash": "1",
                                            "nb_new_crashes": "0",
                                            "nb_reappeared_crashes": "0",
                                            "crash_type": "RangeError",
                                            "crash_source": "Unknown",
                                            "visits_crash_rate": "0.05",
                                            "crash_first_seen": "2023-08-30 09:00:17",
                                            "crash_last_seen": "2026-02-15 21:17:37",
                                            "crash_last_reappeared": "",
                                            "idlogcrash": "99",
                                            "segment": "crashId==99"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_crash_occurrences": {
                                                        "type": "string"
                                                    },
                                                    "nb_visits_with_crash": {
                                                        "type": "integer"
                                                    },
                                                    "nb_new_crashes": {
                                                        "type": "integer"
                                                    },
                                                    "nb_reappeared_crashes": {
                                                        "type": "integer"
                                                    },
                                                    "crash_type": {
                                                        "type": "string"
                                                    },
                                                    "crash_source": {
                                                        "type": "string"
                                                    },
                                                    "visits_crash_rate": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "crash_first_seen": {
                                                        "type": "string"
                                                    },
                                                    "crash_last_seen": {
                                                        "type": "string"
                                                    },
                                                    "crash_last_reappeared": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "idlogcrash": {
                                                        "type": "string"
                                                    },
                                                    "segment": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "label": "JSON.parse: unexpected character at line 1 column 13 of the JSON data",
                                        "nb_crash_occurrences": "1",
                                        "nb_visits_with_crash": 1,
                                        "nb_new_crashes": 0,
                                        "nb_reappeared_crashes": 0,
                                        "crash_type": "SyntaxError",
                                        "crash_source": "https:\\/\\/divezone.net\\/ContentBlock.vue?.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/cache-loader\\/dist\\/cjs.js??ref--14-0!.\\/node_modules\\/babel-loader\\/lib!.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/ts-loader??ref--14-2!.\\/node_modules\\/@vue\\/cli-service\\/node_modules\\/cache-loader\\/dist\\/",
                                        "visits_crash_rate": 0.05,
                                        "crash_first_seen": "2023-08-30 11:45:14",
                                        "crash_last_seen": "2026-02-15 23:01:28",
                                        "crash_last_reappeared": null,
                                        "idlogcrash": "123",
                                        "segment": "crashId==123"
                                    },
                                    {
                                        "label": "precision -2 out of range",
                                        "nb_crash_occurrences": "1",
                                        "nb_visits_with_crash": 1,
                                        "nb_new_crashes": 0,
                                        "nb_reappeared_crashes": 0,
                                        "crash_type": "RangeError",
                                        "crash_source": "Unknown",
                                        "visits_crash_rate": 0.05,
                                        "crash_first_seen": "2023-08-30 09:00:17",
                                        "crash_last_seen": "2026-02-15 21:17:37",
                                        "crash_last_reappeared": null,
                                        "idlogcrash": "99",
                                        "segment": "crashId==99"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getCrashMessages": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets a report displaying crash message / originating source combinations with all crashes with no source excluded.",
                "operationId": "CrashAnalytics.getCrashMessages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_pattern",
                        "in": "query",
                        "description": "Case-insensitive pattern to filter crash messages.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": {
                                        "label": "JSON.parse: unexpected character at line 1 column 13 of the JSON data",
                                        "nb_crash_occurrences": "1",
                                        "nb_visits_with_crash": "1",
                                        "nb_new_crashes": "0",
                                        "nb_reappeared_crashes": "0",
                                        "crash_type": "SyntaxError",
                                        "crash_source": "https:\\/\\/divezone.net\\/ContentBlock.vue?.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/cache-loader\\/dist\\/cjs.js??ref--14-0!.\\/node_modules\\/babel-loader\\/lib!.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/ts-loader??ref--14-2!.\\/node_modules\\/@vue\\/cli-service\\/node_modules\\/cache-loader\\/dist\\/",
                                        "visits_crash_rate": "0.05",
                                        "crash_first_seen": "2023-08-30 11:45:14",
                                        "crash_last_seen": "2026-02-15 23:01:28",
                                        "crash_last_reappeared": "",
                                        "idlogcrash": "123",
                                        "segment": "crashId==123"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_crash_occurrences": {
                                                        "type": "string"
                                                    },
                                                    "nb_visits_with_crash": {
                                                        "type": "integer"
                                                    },
                                                    "nb_new_crashes": {
                                                        "type": "integer"
                                                    },
                                                    "nb_reappeared_crashes": {
                                                        "type": "integer"
                                                    },
                                                    "crash_type": {
                                                        "type": "string"
                                                    },
                                                    "crash_source": {
                                                        "type": "string"
                                                    },
                                                    "visits_crash_rate": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "crash_first_seen": {
                                                        "type": "string"
                                                    },
                                                    "crash_last_seen": {
                                                        "type": "string"
                                                    },
                                                    "crash_last_reappeared": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "idlogcrash": {
                                                        "type": "string"
                                                    },
                                                    "segment": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "label": "JSON.parse: unexpected character at line 1 column 13 of the JSON data",
                                        "nb_crash_occurrences": "1",
                                        "nb_visits_with_crash": 1,
                                        "nb_new_crashes": 0,
                                        "nb_reappeared_crashes": 0,
                                        "crash_type": "SyntaxError",
                                        "crash_source": "https:\\/\\/divezone.net\\/ContentBlock.vue?.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/cache-loader\\/dist\\/cjs.js??ref--14-0!.\\/node_modules\\/babel-loader\\/lib!.\\/node_modules\\/@vue\\/cli-plugin-typescript\\/node_modules\\/ts-loader??ref--14-2!.\\/node_modules\\/@vue\\/cli-service\\/node_modules\\/cache-loader\\/dist\\/",
                                        "visits_crash_rate": 0.05,
                                        "crash_first_seen": "2023-08-30 11:45:14",
                                        "crash_last_seen": "2026-02-15 23:01:28",
                                        "crash_last_reappeared": null,
                                        "idlogcrash": "123",
                                        "segment": "crashId==123"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getUnidentifiedCrashMessages": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets a report displaying crash messages for all crashes that have no source.",
                "operationId": "CrashAnalytics.getUnidentifiedCrashMessages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter_pattern",
                        "in": "query",
                        "description": "Case-insensitive pattern to filter crash messages.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": {
                                        "label": "precision -2 out of range",
                                        "nb_crash_occurrences": "1",
                                        "nb_visits_with_crash": "1",
                                        "nb_new_crashes": "0",
                                        "nb_reappeared_crashes": "0",
                                        "crash_type": "RangeError",
                                        "visits_crash_rate": "0.05",
                                        "crash_source": "Unknown",
                                        "crash_first_seen": "2023-08-30 09:00:17",
                                        "crash_last_seen": "2026-02-15 21:17:37",
                                        "crash_last_reappeared": "",
                                        "idlogcrash": "99",
                                        "segment": "crashId==99"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_crash_occurrences": {
                                                        "type": "string"
                                                    },
                                                    "nb_visits_with_crash": {
                                                        "type": "integer"
                                                    },
                                                    "nb_new_crashes": {
                                                        "type": "integer"
                                                    },
                                                    "nb_reappeared_crashes": {
                                                        "type": "integer"
                                                    },
                                                    "crash_type": {
                                                        "type": "string"
                                                    },
                                                    "visits_crash_rate": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "crash_source": {
                                                        "type": "string"
                                                    },
                                                    "crash_first_seen": {
                                                        "type": "string"
                                                    },
                                                    "crash_last_seen": {
                                                        "type": "string"
                                                    },
                                                    "crash_last_reappeared": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "idlogcrash": {
                                                        "type": "string"
                                                    },
                                                    "segment": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "label": "precision -2 out of range",
                                        "nb_crash_occurrences": "1",
                                        "nb_visits_with_crash": 1,
                                        "nb_new_crashes": 0,
                                        "nb_reappeared_crashes": 0,
                                        "crash_type": "RangeError",
                                        "visits_crash_rate": 0.05,
                                        "crash_source": "Unknown",
                                        "crash_first_seen": "2023-08-30 09:00:17",
                                        "crash_last_seen": "2026-02-15 21:17:37",
                                        "crash_last_reappeared": null,
                                        "idlogcrash": "99",
                                        "segment": "crashId==99"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getDisappearedCrashes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the disappeared crashes report.",
                "operationId": "CrashAnalytics.getDisappearedCrashes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getReappearedCrashes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the reappeared crashes report.",
                "operationId": "CrashAnalytics.getReappearedCrashes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getNewCrashes": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the new crashes report.",
                "operationId": "CrashAnalytics.getNewCrashes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=CrashAnalytics.getCrashesByPageUrl": {
            "get": {
                "tags": [
                    "CrashAnalytics"
                ],
                "description": "Gets the crashes by page URL report.",
                "operationId": "CrashAnalytics.getCrashesByPageUrl",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period string (eg, day, week, month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date string for the period.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment definition, or false for none.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expanded",
                        "in": "query",
                        "description": "Whether to load expanded subtables.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "flat",
                        "in": "query",
                        "description": "Whether to return a flat table.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
[...]
