{
    "openapi": "3.1.0",
    "info": {
        "title": "Matomo Reporting API for DBStats plugin",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demo.matomo.cloud/",
            "description": "Matomo demo server"
        }
    ],
    "paths": {
        "/index.php?module=API&method=DBStats.getGeneralInformation": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Gets some general information about this Matomo installation, including the count of websites tracked, the count of users and the total space used by the database.",
                "operationId": "DBStats.getGeneralInformation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains the website count, user count and total space used by the database.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getGeneralInformation&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getGeneralInformation&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=DBStats.getGeneralInformation&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        "3",
                                        "3",
                                        "98566144"
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                },
                                "example": [
                                    3,
                                    3,
                                    98566144
                                ]
                            },
                            "application/vnd.ms-excel": {
                                "example": "3\n3\n98566144"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getDBStatus": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Gets general database info that is not specific to any table.",
                "operationId": "DBStats.getDBStatus",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "See https://dev.mysql.com/doc/refman/5.1/en/show-status.html .</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getDBStatus&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getDBStatus&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getDatabaseUsageSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable summarizing how data is distributed among Matomo tables.",
                "operationId": "DBStats.getDatabaseUsageSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getDatabaseUsageSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getDatabaseUsageSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getTrackerDataSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much space is taken up by each log table.",
                "operationId": "DBStats.getTrackerDataSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getTrackerDataSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getTrackerDataSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getMetricDataSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much space is taken up by each numeric archive table.",
                "operationId": "DBStats.getMetricDataSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getMetricDataSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getMetricDataSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getMetricDataSummaryByYear": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much space is taken up by each numeric archive table, grouped by year.",
                "operationId": "DBStats.getMetricDataSummaryByYear",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getMetricDataSummaryByYear&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getMetricDataSummaryByYear&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getReportDataSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much space is taken up by each blob archive table.",
                "operationId": "DBStats.getReportDataSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getReportDataSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getReportDataSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getReportDataSummaryByYear": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much space is taken up by each blob archive table, grouped by year.",
                "operationId": "DBStats.getReportDataSummaryByYear",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getReportDataSummaryByYear&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getReportDataSummaryByYear&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getAdminDataSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much space is taken up by 'admin' tables.",
                "operationId": "DBStats.getAdminDataSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getAdminDataSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getAdminDataSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getIndividualReportsSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much total space is taken up by each individual report type.",
                "operationId": "DBStats.getIndividualReportsSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "forceCache",
                        "in": "query",
                        "description": "false to use the cached result, true to run the queries again and cache the result.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getIndividualReportsSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getIndividualReportsSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=DBStats.getIndividualMetricsSummary": {
            "get": {
                "tags": [
                    "DBStats"
                ],
                "description": "Returns a datatable describing how much total space is taken up by each individual metric type.",
                "operationId": "DBStats.getIndividualMetricsSummary",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "forceCache",
                        "in": "query",
                        "description": "false to use the cached result, true to run the queries again and cache the result.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A datatable with three columns: 'data_size', 'index_size', 'row_count'.</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=DBStats.getIndividualMetricsSummary&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=DBStats.getIndividualMetricsSummary&format=JSON&token_auth=anonymous), TSV (N/A)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GenericSuccess": {
                "description": "Generic Matomo success payload.",
                "required": [
                    "result",
                    "message"
                ],
                "properties": {
                    "result": {
                        "type": "string",
                        "example": "success"
                    },
                    "message": {
                        "type": "string",
                        "example": "ok"
                    },
                    "code": {
                        "type": "integer",
                        "example": "200"
                    }
                },
                "type": "object",
                "example": {
                    "result": "success",
                    "message": "ok"
                },
                "additionalProperties": true
            },
            "GenericSuccessXml": {
                "description": "Generic Matomo success payload in XML.",
                "required": [
                    "success"
                ],
                "properties": {
                    "success": {
                        "properties": {
                            "message": {
                                "type": "string",
                                "xml": {
                                    "attribute": true
                                },
                                "example": "ok"
                            }
                        },
                        "type": "object",
                        "xml": {
                            "name": "success"
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "result"
                },
                "example": {
                    "success": {
                        "message": "ok"
                    }
                },
                "additionalProperties": true
            },
            "Error": {
                "description": "Generic Matomo error payload.",
                "required": [
                    "result",
                    "message"
                ],
                "properties": {
                    "result": {
                        "type": "string",
                        "example": "error"
                    },
                    "message": {
                        "type": "string",
                        "example": "There was an error"
                    },
                    "code": {
                        "type": "integer"
                    }
                },
                "type": "object",
                "additionalProperties": true
            },
            "ErrorXml": {
                "description": "Generic Matomo error payload in XML.",
                "properties": {
                    "error": {
                        "properties": {
                            "message": {
                                "type": "string",
                                "xml": {
                                    "attribute": true
                                },
                                "example": "There was an error"
                            }
                        },
                        "type": "object",
                        "xml": {
                            "name": "error"
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "result"
                }
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Bad request (validation or missing parameters).",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Error: There was an error."
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "There was an error."
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorXml"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Authentication failed or missing token.",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Error: You must be logged in to access this functionality."
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "You must be logged in to access this functionality."
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorXml"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "Authenticated but not allowed to access the resource.",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Error: Not authorised."
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Not authorised."
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorXml"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Resource not found.",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Error: The method is not available."
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "The method is not available."
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorXml"
                        }
                    }
                }
            },
            "ServerError": {
                "description": "Unexpected server error.",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Error: There was an error."
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "There was an error."
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorXml"
                        }
                    }
                }
            },
            "DefaultError": {
                "description": "Default error response (any non-2xx).",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Error: There was an error."
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "There was an error."
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorXml"
                        }
                    }
                }
            },
            "GenericSuccessNoBody": {
                "description": "Generic 200 response with no body"
            },
            "GenericSuccess": {
                "description": "Generic 200 response",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Success:ok"
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "<!-- Success: ok -->"
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/GenericSuccess"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/GenericSuccessXml"
                        }
                    }
                }
            },
            "GenericString": {
                "description": "Generic 200 response with only a string body",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "Result: success"
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        },
                        "example": "success"
                    },
                    "application/json": {
                        "schema": {
                            "type": "string"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "GenericBoolean": {
                "description": "Generic 200 response with only true or false as the body",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "text/html": {
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "GenericInteger": {
                "description": "Generic 200 response with only an integer as the body",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "text/html": {
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "type": "integer"
                        }
                    }
                }
            },
            "GenericArray": {
                "description": "Generic 200 response with array body",
                "content": {
                    "text/plain": {
                        "schema": {
                            "type": "string"
                        }
                    },
                    "text/html": {
                        "schema": {
                            "type": "string"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                }
            }
        },
        "parameters": {
            "moduleRequired": {
                "name": "module",
                "in": "query",
                "description": "Always `API` for Reporting API requests.",
                "required": true,
                "schema": {
                    "type": "string",
                    "default": "API"
                }
            },
            "methodRequired": {
                "name": "method",
                "in": "query",
                "description": "API method, e.g. `VisitsSummary.get` or `CustomAlerts.getAlert`.",
                "required": true,
                "schema": {
                    "type": "string",
                    "example": "CustomAlerts.getAlert"
                }
            },
            "formatRequired": {
                "name": "format",
                "in": "query",
                "description": "Response format such as `xml` or `json`. Use `original` to get the original PHP data structure.",
                "required": true,
                "schema": {
                    "type": "string",
                    "default": "xml",
                    "enum": [
                        "xml",
                        "json",
                        "csv",
                        "tsv",
                        "html",
                        "rss",
                        "original"
                    ]
                }
            },
            "formatOptional": {
                "name": "format",
                "in": "query",
                "description": "Response format. Defaults to `xml`. Use `original` to get the original PHP data structure.",
                "required": false,
                "schema": {
                    "type": "string",
                    "default": "xml",
                    "enum": [
                        "xml",
                        "json",
                        "csv",
                        "tsv",
                        "html",
                        "rss",
                        "original"
                    ]
                }
            },
            "idSiteRequired": {
                "name": "idSite",
                "in": "query",
                "description": "Matomo site ID.",
                "required": true,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            },
            "idSiteOptional": {
                "name": "idSite",
                "in": "query",
                "description": "Matomo site ID.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            },
            "periodRequired": {
                "name": "period",
                "in": "query",
                "description": "Reporting period.",
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "day",
                        "week",
                        "month",
                        "year",
                        "range"
                    ],
                    "example": "day"
                }
            },
            "periodOptional": {
                "name": "period",
                "in": "query",
                "description": "Reporting period.",
                "required": false,
                "schema": {
                    "type": "string",
                    "enum": [
                        "day",
                        "week",
                        "month",
                        "year",
                        "range"
                    ],
                    "example": "day"
                }
            },
            "dateRequired": {
                "name": "date",
                "in": "query",
                "description": "Date or range (e.g. `2025-08-01`, `yesterday`, `last30`, or `2025-08-01,2025-08-11`).",
                "required": true,
                "schema": {
                    "type": "string",
                    "example": "today"
                }
            },
            "dateOptional": {
                "name": "date",
                "in": "query",
                "description": "Date or range (e.g. `2025-08-01`, `yesterday`, `last30`, or `2025-08-01,2025-08-11`).",
                "required": false,
                "schema": {
                    "type": "string",
                    "example": "today"
                }
            },
            "segmentRequired": {
                "name": "segment",
                "in": "query",
                "description": "Segment expression; see `API.getSegmentDimensionMetadata`.",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "segmentOptional": {
                "name": "segment",
                "in": "query",
                "description": "Segment expression; see `API.getSegmentDimensionMetadata`.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "expandedOptional": {
                "name": "expanded",
                "in": "query",
                "description": "If true, loads all subtables.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "default": 0,
                    "enum": [
                        0,
                        1
                    ],
                    "example": 0
                }
            },
            "idSubtableOptional": {
                "name": "idSubtable",
                "in": "query",
                "description": "An in-database subtable ID.",
                "required": false,
                "schema": {
                    "type": "integer"
                }
            },
            "idSubtableRequired": {
                "name": "idSubtable",
                "in": "query",
                "description": "An in-database subtable ID.",
                "required": true,
                "schema": {
                    "type": "integer"
                }
            },
            "flatOptional": {
                "name": "flat",
                "in": "query",
                "description": "Flatten subtables into the parent table.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "enum": [
                        0,
                        1
                    ],
                    "example": 0
                }
            },
            "filter_patternOptional": {
                "name": "filter_pattern",
                "in": "query",
                "description": "Regex to keep matching rows.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "filter_columnOptional": {
                "name": "filter_column",
                "in": "query",
                "description": "Column to apply the regex to (e.g., `label`).",
                "required": false,
                "schema": {
                    "type": "string",
                    "example": "label"
                }
            },
            "filter_pattern_recursiveOptional": {
                "name": "filter_pattern_recursive",
                "in": "query",
                "description": "Recursive regex filter.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "filter_column_recursiveOptional": {
                "name": "filter_column_recursive",
                "in": "query",
                "description": "Column for the recursive regex filter.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "filter_excludelowpopOptional": {
                "name": "filter_excludelowpop",
                "in": "query",
                "description": "Column to threshold and exclude low values.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "filter_excludelowpop_valueOptional": {
                "name": "filter_excludelowpop_value",
                "in": "query",
                "description": "Minimum value threshold for `filter_excludelowpop`.",
                "required": false,
                "schema": {
                    "type": "number",
                    "example": 0
                }
            },
            "filter_sort_columnOptional": {
                "name": "filter_sort_column",
                "in": "query",
                "description": "Column to sort by.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "filter_sort_orderOptional": {
                "name": "filter_sort_order",
                "in": "query",
                "description": "Sort direction.",
                "required": false,
                "schema": {
                    "type": "string",
                    "enum": [
                        "asc",
                        "desc"
                    ],
                    "example": "desc"
                }
            },
            "filter_truncateOptional": {
                "name": "filter_truncate",
                "in": "query",
                "description": "Row index after which rows are removed.",
                "required": false,
                "schema": {
                    "type": "integer"
                }
            },
            "filter_limitOptional": {
                "name": "filter_limit",
                "in": "query",
                "description": "Maximum number of rows to return.",
                "required": false,
                "schema": {
                    "type": "integer"
                }
            },
            "filter_offsetOptional": {
                "name": "filter_offset",
                "in": "query",
                "description": "Row offset.",
                "required": false,
                "schema": {
                    "type": "integer"
                }
            },
            "keep_summary_rowOptional": {
                "name": "keep_summary_row",
                "in": "query",
                "description": "Keep the summary row.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "enum": [
                        0,
                        1
                    ],
                    "example": 1
                }
            },
            "disable_generic_filtersOptional": {
                "name": "disable_generic_filters",
                "in": "query",
                "description": "Disable generic filters (those above).",
                "required": false,
                "schema": {
                    "type": "integer",
                    "enum": [
                        0,
                        1
                    ],
                    "example": 0
                }
            },
            "disable_queued_filtersOptional": {
                "name": "disable_queued_filters",
                "in": "query",
                "description": "Skip queued filters.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "enum": [
                        0,
                        1
                    ],
                    "example": 0
                }
            },
            "hideColumnsOptional": {
                "name": "hideColumns",
                "in": "query",
                "description": "Comma-separated list of columns to hide.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "showColumnsOptional": {
                "name": "showColumns",
                "in": "query",
                "description": "Comma-separated list of columns to include.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "labelOptional": {
                "name": "label",
                "in": "query",
                "description": "Keep only rows with these label(s). Supports path via '>' and arrays.",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "idGoalRequired": {
                "name": "idGoal",
                "in": "query",
                "description": "The ID of a configured goal.",
                "required": true,
                "schema": {
                    "type": "integer"
                }
            },
            "idGoalOptional": {
                "name": "idGoal",
                "in": "query",
                "description": "The ID of a configured goal.",
                "required": false,
                "schema": {
                    "type": "integer"
                }
            }
        },
        "securitySchemes": {
            "MatomoToken": {
                "type": "apiKey",
                "description": "Matomo API token passed as the 'token_auth' query parameter.",
                "name": "token_auth",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "MatomoToken": []
        }
    ],
    "tags": [
        {
            "name": "DBStats",
            "description": "DBStats API is used to request the overall status of the Mysql tables in use by Matomo. @hideExceptForSuperUser"
        }
    ],
    "externalDocs": {
        "description": "Matomo Reporting API developer page",
        "url": "https://developer.matomo.org/api-reference/reporting-api/"
    }
}