{
    "openapi": "3.1.0",
    "info": {
        "title": "Matomo Reporting API for FormAnalytics plugin",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demo.matomo.cloud/",
            "description": "Matomo demo server"
        }
    ],
    "paths": {
        "/index.php?module=API&method=FormAnalytics.addForm": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Adds a new form to the specified website.",
                "operationId": "FormAnalytics.addForm",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the form, will be shown in the report for this form",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Optional description for this form, if given will be shown in the report of this form.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "matchFormRules",
                        "in": "query",
                        "description": "An array of rules / criteria on which of your online forms should be tracked into this form. As soon as any of the specified rules match (logical OR) for a form, data will be tracked into this form. See the method \"FormAnalytics.getAvailableFormRules\" for a set of available rules. Example: array(array('attribute' => 'form_name', 'pattern' => 'equals', 'value' => 'myformname'))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "matchPageRules",
                        "in": "query",
                        "description": "An array of rules to optionally restrict the tracking of data for this form only on certain pages. Only when any of the specified rules match (logical OR) for a page, data will be tracked into this form. See the method \"FormAnalytics.getAvailablePageRules\" for a set of available rules. Example: array(array('attribute' => 'path', 'pattern' => 'equals', 'value' => '/sign-up'))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "conversionRuleOption",
                        "in": "query",
                        "description": "The conversion rule selected",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "page_visit"
                        }
                    },
                    {
                        "name": "conversionRules",
                        "in": "query",
                        "description": "Matomo differentiates between form submits and form conversions. You can specify a set of rules to automatically track a form conversion as soon as visitor views any of the specified pages. See the method \"FormAnalytics.getAvailablePageRules\" for a set of available rules. Example: array(array('attribute' => 'path', 'pattern' => 'equals', 'value' => '/sign-up-success'))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idGoal",
                        "in": "query",
                        "description": "ID of the goal to trigger on form conversion.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string",
                                    "default": "null"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created form ID."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.updateForm": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Updates an existing form.",
                "operationId": "FormAnalytics.updateForm",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the form, will be shown in the report for this form",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Optional description for this form, if given will be shown in the report of this form.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "matchFormRules",
                        "in": "query",
                        "description": "An array of rules / criteria on which of your online forms should be tracked into this form. As soon as any of the specified rules match (logical OR) for a form, data will be tracked into this form. See the method \"FormAnalytics.getAvailableFormRules\" for a set of available rules. Example: array(array('attribute' => 'form_name', 'pattern' => 'equals', 'value' => 'myformname'))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "matchPageRules",
                        "in": "query",
                        "description": "An array of rules to optionally restrict the tracking of data for this form only on certain pages. Only when any of the specified rules match (logical OR) for a page, data will be tracked into this form. See the method \"FormAnalytics.getAvailablePageRules\" for a set of available rules. Example: array(array('attribute' => 'path', 'pattern' => 'equals', 'value' => '/sign-up'))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "conversionRuleOption",
                        "in": "query",
                        "description": "The conversion rule selected",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "page_visit"
                        }
                    },
                    {
                        "name": "conversionRules",
                        "in": "query",
                        "description": "Matomo differentiates between form submits and form conversions. You can specify a set of rules to automatically track a form conversion as soon as visitor views any of the specified pages. See the method \"FormAnalytics.getAvailablePageRules\" for a set of available rules. Example: array(array('attribute' => 'path', 'pattern' => 'equals', 'value' => '/sign-up-success'))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idGoal",
                        "in": "query",
                        "description": "ID of the goal to trigger on form conversion.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string",
                                    "default": "null"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.getForm": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get a specific form by its ID.",
                "operationId": "FormAnalytics.getForm",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Form metadata, or false when the form does not exist. Expected keys: - idsiteform (int), idsite (int), name (string), description (string) - status (string), auto_created (bool), created_date (string), updated_date (string) - in_overview (int) - match_form_rules (array<int, array{attribute: string, pattern: string, value: string}>) - match_page_rules (array<int, array{attribute: string, pattern: string, value: string}>) - conversion_rule_option (string) - conversion_rules (array<int, array{attribute: string, pattern: string, value: string}>) - fields (array<int, array<string, mixed>>), idgoal (int|null)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.getForms": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get all forms for a specific website or app.",
                "operationId": "FormAnalytics.getForms",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of matching forms. Each form contains the same keys described in getForm().</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=FormAnalytics.getForms&idSite=1&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=FormAnalytics.getForms&idSite=1&format=JSON&token_auth=anonymous), TSV (N/A)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "match_form_rules": {
                                                        "properties": {
                                                            "row": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "xml": {
                                                                        "name": "row"
                                                                    },
                                                                    "additionalProperties": true
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "fields": {
                                                        "properties": {
                                                            "row": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "xml": {
                                                                        "name": "row"
                                                                    },
                                                                    "additionalProperties": true
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "idsiteform": "2",
                                            "idsite": "1",
                                            "idgoal": "",
                                            "name": "Comment Form",
                                            "description": "Standard WordPress comment form on posts",
                                            "status": "running",
                                            "in_overview": "0",
                                            "match_form_rules": {
                                                "row": {
                                                    "attribute": "form_id",
                                                    "pattern": "equals_exactly",
                                                    "value": "commentform"
                                                }
                                            },
                                            "match_page_rules": "",
                                            "conversion_rule_option": "page_visit",
                                            "conversion_rules": "",
                                            "fields": {
                                                "row": [
                                                    {
                                                        "name": "comment",
                                                        "type": "textarea",
                                                        "displayName": "Comment"
                                                    },
                                                    {
                                                        "name": "author",
                                                        "type": "text",
                                                        "displayName": "Name"
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "displayName": "Email"
                                                    },
                                                    {
                                                        "name": "subscribe-reloaded",
                                                        "type": "select",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "g-recaptcha-response",
                                                        "type": "textarea",
                                                        "displayName": "Captcha"
                                                    },
                                                    {
                                                        "name": "wprs_headline",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "wp-comment-cookies-consent",
                                                        "type": "checkbox",
                                                        "displayName": ""
                                                    }
                                                ]
                                            },
                                            "auto_created": "1",
                                            "created_date": "2017-03-25 08:15:00",
                                            "updated_date": "2019-08-04 04:35:51"
                                        },
                                        {
                                            "idsiteform": "7",
                                            "idsite": "1",
                                            "idgoal": "",
                                            "name": "Apply to Job Form",
                                            "description": "",
                                            "status": "running",
                                            "in_overview": "0",
                                            "match_form_rules": {
                                                "row": {
                                                    "attribute": "form_id",
                                                    "pattern": "equals",
                                                    "value": "wpjb-apply-form"
                                                }
                                            },
                                            "match_page_rules": "",
                                            "conversion_rule_option": "page_visit",
                                            "conversion_rules": "",
                                            "fields": {
                                                "row": [
                                                    {
                                                        "name": "applicant_name",
                                                        "type": "text",
                                                        "displayName": "Applicant name"
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "displayName": "Email"
                                                    },
                                                    {
                                                        "name": "cv_file",
                                                        "type": "file",
                                                        "displayName": "CV file"
                                                    },
                                                    {
                                                        "name": "resume",
                                                        "type": "textarea",
                                                        "displayName": "Resume textarea"
                                                    },
                                                    {
                                                        "name": "resume_id",
                                                        "type": "checkbox",
                                                        "displayName": "resume id"
                                                    }
                                                ]
                                            },
                                            "auto_created": "1",
                                            "created_date": "2017-03-25 11:53:57",
                                            "updated_date": "2018-04-24 09:28:46"
                                        },
                                        {
                                            "idsiteform": "29",
                                            "idsite": "1",
                                            "idgoal": "",
                                            "name": "Add Job Form",
                                            "description": "",
                                            "status": "running",
                                            "in_overview": "0",
                                            "match_form_rules": {
                                                "row": {
                                                    "attribute": "form_name",
                                                    "pattern": "equals",
                                                    "value": "wpjb-form-job-add"
                                                }
                                            },
                                            "match_page_rules": "",
                                            "conversion_rule_option": "page_visit",
                                            "conversion_rules": "",
                                            "fields": {
                                                "row": [
                                                    {
                                                        "name": "company_name",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "company_email",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "job_type",
                                                        "type": "select",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "job_category",
                                                        "type": "select",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "job_title",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "job_description",
                                                        "type": "textarea",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "job_country",
                                                        "type": "select",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "job_location",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "company_website",
                                                        "type": "text",
                                                        "displayName": ""
                                                    },
                                                    {
                                                        "name": "company_logo",
                                                        "type": "file",
                                                        "displayName": ""
                                                    }
                                                ]
                                            },
                                            "auto_created": "0",
                                            "created_date": "2018-03-28 20:49:04",
                                            "updated_date": "2018-03-30 15:34:49"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "idsiteform": {
                                                        "type": "integer"
                                                    },
                                                    "idsite": {
                                                        "type": "integer"
                                                    },
                                                    "idgoal": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "in_overview": {
                                                        "type": "integer"
                                                    },
                                                    "fields": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "displayName": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "additionalProperties": true
                                                        }
                                                    },
                                                    "conversion_rule_option": {
                                                        "type": "string"
                                                    },
                                                    "auto_created": {
                                                        "type": "boolean"
                                                    },
                                                    "created_date": {
                                                        "type": "string"
                                                    },
                                                    "updated_date": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "idsiteform": 2,
                                        "idsite": 1,
                                        "idgoal": null,
                                        "name": "Comment Form",
                                        "description": "Standard WordPress comment form on posts",
                                        "status": "running",
                                        "in_overview": 0,
                                        "match_form_rules": [
                                            {
                                                "attribute": "form_id",
                                                "pattern": "equals_exactly",
                                                "value": "commentform"
                                            }
                                        ],
                                        "match_page_rules": [],
                                        "conversion_rule_option": "page_visit",
                                        "conversion_rules": [],
                                        "fields": [
                                            {
                                                "name": "comment",
                                                "type": "textarea",
                                                "displayName": "Comment"
                                            },
                                            {
                                                "name": "author",
                                                "type": "text",
                                                "displayName": "Name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "displayName": "Email"
                                            },
                                            {
                                                "name": "subscribe-reloaded",
                                                "type": "select",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "g-recaptcha-response",
                                                "type": "textarea",
                                                "displayName": "Captcha"
                                            },
                                            {
                                                "name": "wprs_headline",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "wp-comment-cookies-consent",
                                                "type": "checkbox",
                                                "displayName": ""
                                            }
                                        ],
                                        "auto_created": true,
                                        "created_date": "2017-03-25 08:15:00",
                                        "updated_date": "2019-08-04 04:35:51"
                                    },
                                    {
                                        "idsiteform": 7,
                                        "idsite": 1,
                                        "idgoal": null,
                                        "name": "Apply to Job Form",
                                        "description": "",
                                        "status": "running",
                                        "in_overview": 0,
                                        "match_form_rules": [
                                            {
                                                "attribute": "form_id",
                                                "pattern": "equals",
                                                "value": "wpjb-apply-form"
                                            }
                                        ],
                                        "match_page_rules": [],
                                        "conversion_rule_option": "page_visit",
                                        "conversion_rules": [],
                                        "fields": [
                                            {
                                                "name": "applicant_name",
                                                "type": "text",
                                                "displayName": "Applicant name"
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "displayName": "Email"
                                            },
                                            {
                                                "name": "cv_file",
                                                "type": "file",
                                                "displayName": "CV file"
                                            },
                                            {
                                                "name": "resume",
                                                "type": "textarea",
                                                "displayName": "Resume textarea"
                                            },
                                            {
                                                "name": "resume_id",
                                                "type": "checkbox",
                                                "displayName": "resume id"
                                            }
                                        ],
                                        "auto_created": true,
                                        "created_date": "2017-03-25 11:53:57",
                                        "updated_date": "2018-04-24 09:28:46"
                                    },
                                    {
                                        "idsiteform": 29,
                                        "idsite": 1,
                                        "idgoal": null,
                                        "name": "Add Job Form",
                                        "description": "",
                                        "status": "running",
                                        "in_overview": 0,
                                        "match_form_rules": [
                                            {
                                                "attribute": "form_name",
                                                "pattern": "equals",
                                                "value": "wpjb-form-job-add"
                                            }
                                        ],
                                        "match_page_rules": [],
                                        "conversion_rule_option": "page_visit",
                                        "conversion_rules": [],
                                        "fields": [
                                            {
                                                "name": "company_name",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "company_email",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "job_type",
                                                "type": "select",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "job_category",
                                                "type": "select",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "job_title",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "job_description",
                                                "type": "textarea",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "job_country",
                                                "type": "select",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "job_location",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "company_website",
                                                "type": "text",
                                                "displayName": ""
                                            },
                                            {
                                                "name": "company_logo",
                                                "type": "file",
                                                "displayName": ""
                                            }
                                        ],
                                        "auto_created": false,
                                        "created_date": "2018-03-28 20:49:04",
                                        "updated_date": "2018-03-30 15:34:49"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.getFormsByStatuses": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get a list of forms by status(es). To get a list of available statuses call \"FormAnalytics.getAvailableStatuses\".",
                "operationId": "FormAnalytics.getFormsByStatuses",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Status or list of statuses to fetch.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of matching forms. Each form contains the same keys described in getForm()."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.deleteForm": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Deletes the given form.",
                "operationId": "FormAnalytics.deleteForm",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.archiveForm": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Archives the given form.",
                "operationId": "FormAnalytics.archiveForm",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.get": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get a form overview report.",
                "operationId": "FormAnalytics.get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period of the report.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date or range to request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "If given, will return form overview metrics for the given form, otherwise it will return the metrics for the usage of all forms.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment to filter the report.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "columns",
                        "in": "query",
                        "description": "Optional list of metrics to include. Defaults to false for all metrics.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "</br>Example links: [XML](https://demo.matomo.cloud/?module=API&method=FormAnalytics.get&idSite=1&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/?module=API&method=FormAnalytics.get&idSite=1&period=day&date=today&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/?module=API&method=FormAnalytics.get&idSite=1&period=day&date=today&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "nb_form_views": "12202",
                                    "nb_form_viewers": "8061",
                                    "nb_form_starts": "499",
                                    "nb_form_starters": "428",
                                    "nb_form_submissions": "540",
                                    "nb_form_submitters": "520",
                                    "nb_form_resubmitters": "16",
                                    "nb_form_conversions": "133",
                                    "form_starters_rate": "5.3%",
                                    "form_submitter_rate": "121.5%",
                                    "form_conversion_rate": "31.1%",
                                    "form_resubmitters_rate": "3.1%",
                                    "avg_form_time_hesitation": "32.074",
                                    "avg_form_time_spent": "105.504",
                                    "avg_form_time_to_first_submission": "9.782",
                                    "avg_form_time_to_conversion": "57.279"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nb_form_views": {
                                            "type": "integer"
                                        },
                                        "nb_form_viewers": {
                                            "type": "integer"
                                        },
                                        "nb_form_starts": {
                                            "type": "integer"
                                        },
                                        "nb_form_starters": {
                                            "type": "integer"
                                        },
                                        "nb_form_submissions": {
                                            "type": "integer"
                                        },
                                        "nb_form_submitters": {
                                            "type": "integer"
                                        },
                                        "nb_form_resubmitters": {
                                            "type": "integer"
                                        },
                                        "nb_form_conversions": {
                                            "type": "integer"
                                        },
                                        "form_starters_rate": {
                                            "type": "string"
                                        },
                                        "form_submitter_rate": {
                                            "type": "string"
                                        },
                                        "form_conversion_rate": {
                                            "type": "string"
                                        },
                                        "form_resubmitters_rate": {
                                            "type": "string"
                                        },
                                        "avg_form_time_hesitation": {
                                            "type": [
                                                "string",
                                                "number",
                                                "integer",
                                                "boolean",
                                                "array",
                                                "object",
                                                "null"
                                            ]
                                        },
                                        "avg_form_time_spent": {
                                            "type": [
                                                "string",
                                                "number",
                                                "integer",
                                                "boolean",
                                                "array",
                                                "object",
                                                "null"
                                            ]
                                        },
                                        "avg_form_time_to_first_submission": {
                                            "type": [
                                                "string",
                                                "number",
                                                "integer",
                                                "boolean",
                                                "array",
                                                "object",
                                                "null"
                                            ]
                                        },
                                        "avg_form_time_to_conversion": {
                                            "type": [
                                                "string",
                                                "number",
                                                "integer",
                                                "boolean",
                                                "array",
                                                "object",
                                                "null"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "nb_form_views": 12202,
                                    "nb_form_viewers": 8061,
                                    "nb_form_starts": 499,
                                    "nb_form_starters": 428,
                                    "nb_form_submissions": 540,
                                    "nb_form_submitters": 520,
                                    "nb_form_resubmitters": 16,
                                    "nb_form_conversions": 133,
                                    "form_starters_rate": "5.3%",
                                    "form_submitter_rate": "121.5%",
                                    "form_conversion_rate": "31.1%",
                                    "form_resubmitters_rate": "3.1%",
                                    "avg_form_time_hesitation": 32.074,
                                    "avg_form_time_spent": 105.504,
                                    "avg_form_time_to_first_submission": 9.782,
                                    "avg_form_time_to_conversion": 57.279
                                }
                            },
                            "application/vnd.ms-excel": {
                                "example": "nb_form_views\tnb_form_viewers\tnb_form_starts\tnb_form_starters\tnb_form_submissions\tnb_form_submitters\tnb_form_resubmitters\tnb_form_conversions\tform_starters_rate\tform_submitter_rate\tform_conversion_rate\tform_resubmitters_rate\tavg_form_time_hesitation\tavg_form_time_spent\tavg_form_time_to_first_submission\tavg_form_time_to_conversion\n12202\t8061\t499\t428\t540\t520\t16\t133\t5.3%\t121.5%\t31.1%\t3.1%\t32.074\t105.504\t9.782\t57.279"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.getEntryFields": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get the entry fields report.",
                "operationId": "FormAnalytics.getEntryFields",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period of the report.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date or range to request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment to filter the report.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report table containing entry field metrics and labels."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.getDropOffFields": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get the drop off fields report.",
                "operationId": "FormAnalytics.getDropOffFields",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period of the report.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date or range to request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment to filter the report.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report table containing drop off metrics and labels."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/index.php?module=API&method=FormAnalytics.getPageUrls": {
            "get": {
                "tags": [
                    "FormAnalytics"
                ],
                "description": "Get form overview metrics for each page. This is useful when your form is embedded on several pages and you want to see how each form performs on the different pages.",
                "operationId": "FormAnalytics.getPageUrls",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/formatOptional"
                    },
                    {
                        "name": "idSite",
                        "in": "query",
                        "description": "The site ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The period of the report.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date or range to request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idForm",
                        "in": "query",
                        "description": "The form ID.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "segment",
                        "in": "query",
                        "description": "Optional segment to filter the report.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report table containing page URL metrics and labels.</br>Example links: [XML](https://demo.matomo.cloud/index.php?module=API&method=FormAnalytics.getPageUrls&idSite=1&idForm=2&period=day&date=today&format=xml&token_auth=anonymous), [JSON](https://demo.matomo.cloud/index.php?module=API&method=FormAnalytics.getPageUrls&idSite=1&idForm=2&period=day&date=today&format=JSON&token_auth=anonymous), [TSV (Excel)](https://demo.matomo.cloud/index.php?module=API&method=FormAnalytics.getPageUrls&idSite=1&idForm=2&period=day&date=today&format=Tsv&token_auth=anonymous)",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "row": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "xml": {
                                                    "name": "row"
                                                },
                                                "additionalProperties": true
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "xml": {
                                        "name": "result"
                                    }
                                },
                                "example": {
                                    "row": [
                                        {
                                            "label": "divezone.net\\/about-us",
                                            "nb_form_views": "7",
                                            "nb_form_viewers": "7",
                                            "nb_form_starts": "2",
                                            "nb_form_starters": "1",
                                            "nb_form_submissions": "0",
                                            "nb_form_submitters": "0",
                                            "nb_form_resubmitters": "0",
                                            "nb_form_conversions": "0",
                                            "form_starters_rate": "14.3%",
                                            "form_conversion_rate": "0%",
                                            "form_submitter_rate": "0%",
                                            "avg_form_time_hesitation": "1.306",
                                            "avg_form_time_to_first_submission": "0",
                                            "avg_form_time_spent": "0",
                                            "url": "divezone.net\\/about-us"
                                        },
                                        {
                                            "label": "divezone.net\\/arctic-liveaboard",
                                            "nb_form_views": "2",
                                            "nb_form_viewers": "2",
                                            "nb_form_starts": "0",
                                            "nb_form_starters": "0",
                                            "nb_form_submissions": "0",
                                            "nb_form_submitters": "0",
                                            "nb_form_resubmitters": "0",
                                            "nb_form_conversions": "0",
                                            "form_starters_rate": "0%",
                                            "form_conversion_rate": "0%",
                                            "form_submitter_rate": "0%",
                                            "avg_form_time_hesitation": "0",
                                            "avg_form_time_to_first_submission": "0",
                                            "avg_form_time_spent": "0",
                                            "url": "divezone.net\\/arctic-liveaboard"
                                        },
                                        {
                                            "label": "divezone.net\\/australia-liveaboard",
                                            "nb_form_views": "17",
                                            "nb_form_viewers": "16",
                                            "nb_form_starts": "0",
                                            "nb_form_starters": "0",
                                            "nb_form_submissions": "0",
                                            "nb_form_submitters": "0",
                                            "nb_form_resubmitters": "0",
                                            "nb_form_conversions": "0",
                                            "form_starters_rate": "0%",
                                            "form_conversion_rate": "0%",
                                            "form_submitter_rate": "0%",
                                            "avg_form_time_hesitation": "0",
                                            "avg_form_time_to_first_submission": "0",
                                            "avg_form_time_spent": "0",
                                            "url": "divezone.net\\/australia-liveaboard"
                                        },
                                        {
                                            "label": "divezone.net\\/belize-liveaboard-reviews-2013",
                                            "nb_form_views": "11",
                                            "nb_form_viewers": "10",
                                            "nb_form_starts": "0",
                                            "nb_form_starters": "0",
                                            "nb_form_submissions": "0",
                                            "nb_form_submitters": "0",
                                            "nb_form_resubmitters": "0",
                                            "nb_form_conversions": "0",
                                            "form_starters_rate": "0%",
                                            "form_conversion_rate": "0%",
                                            "form_submitter_rate": "0%",
                                            "avg_form_time_hesitation": "0",
                                            "avg_form_time_to_first_submission": "0",
                                            "avg_form_time_spent": "0",
                                            "url": "divezone.net\\/belize-liveaboard-reviews-2013"
                                        },
                                        {
                                            "label": "divezone.net\\/best-dive-sites",
                                            "nb_form_views": "165",
                                            "nb_form_viewers": "131",
                                            "nb_form_starts": "0",
                                            "nb_form_starters": "0",
                                            "nb_form_submissions": "0",
                                            "nb_form_submitters": "0",
                                            "nb_form_resubmitters": "0",
                                            "nb_form_conversions": "0",
                                            "form_starters_rate": "0%",
                                            "form_conversion_rate": "0%",
                                            "form_submitter_rate": "0%",
                                            "avg_form_time_hesitation": "0",
                                            "avg_form_time_to_first_submission": "0",
                                            "avg_form_time_spent": "0",
                                            "url": "divezone.net\\/best-dive-sites"
                                        },
                                        {
                                            "label": "divezone.net\\/best-great-barrier-reef-australia-liveaboard-reviews-2013",
                                            "nb_form_views": "31",
                                            "nb_form_viewers": "25",
                                            "nb_form_starts": "0",
                                            "nb_form_starters": "0",
                                            "nb_form_submissions": "0",
                                            "nb_form_submitters": "0",
                                            "nb_form_resubmitters": "0",
                                            "nb_form_conversions": "0",
                                            "form_starters_rate": "0%",
                                            "form_conversion_rate": "0%",
                                            "form_submitter_rate": "0%",
                                            "avg_form_time_hesitation": "0",
                                            "avg_form_time_to_first_submission": "0",
                                            "avg_form_time_spent": "0",
                                            "url": "divezone.net\\/best-great-barrier-reef-australia-liveaboard-reviews-2013"
                                        }
                                    ]
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "": {
                                                "properties": {
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_views": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_viewers": {
                                                        "type": "integer"
                                                    },
                                                    "nb_form_starts": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_starters": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_submissions": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_submitters": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_resubmitters": {
                                                        "type": "string"
                                                    },
                                                    "nb_form_conversions": {
                                                        "type": "string"
                                                    },
                                                    "form_starters_rate": {
                                                        "type": "string"
                                                    },
                                                    "form_conversion_rate": {
                                                        "type": "string"
                                                    },
                                                    "form_submitter_rate": {
                                                        "type": "string"
                                                    },
                                                    "avg_form_time_hesitation": {
                                                        "type": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "array",
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "avg_form_time_to_first_submission": {
                                                        "type": "integer"
                                                    },
                                                    "avg_form_time_spent": {
                                                        "type": "integer"
                                                    },
                                                    "url": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object",
                                        "additionalProperties": true
                                    }
                                },
                                "example": [
                                    {
                                        "label": "divezone.net\\/about-us",
                                        "nb_form_views": "7",
                                        "nb_form_viewers": 7,
                                        "nb_form_starts": "2",
                                        "nb_form_starters": "1",
                                        "nb_form_submissions": "0",
                                        "nb_form_submitters": "0",
                                        "nb_form_resubmitters": "0",
                                        "nb_form_conversions": "0",
                                        "form_starters_rate": "14.3%",
                                        "form_conversion_rate": "0%",
                                        "form_submitter_rate": "0%",
                                        "avg_form_time_hesitation": 1.306,
                                        "avg_form_time_to_first_submission": 0,
                                        "avg_form_time_spent": 0,
                                        "url": "divezone.net\\/about-us"
                                    },
                                    {
                                        "label": "divezone.net\\/arctic-liveaboard",
                                        "nb_form_views": "2",
                                        "nb_form_viewers": 2,
                                        "nb_form_starts": "0",
                                        "nb_form_starters": "0",
                                        "nb_form_submissions": "0",
                                        "nb_form_submitters": "0",
                                        "nb_form_resubmitters": "0",
                                        "nb_form_conversions": "0",
                                        "form_starters_rate": "0%",
                                        "form_conversion_rate": "0%",
                                        "form_submitter_rate": "0%",
                                        "avg_form_time_hesitation": 0,
                                        "avg_form_time_to_first_submission": 0,
                                        "avg_form_time_spent": 0,
                                        "url": "divezone.net\\/arctic-liveaboard"
                                    },
                                    {
                                        "label": "divezone.net\\/australia-liveaboard",
                                        "nb_form_views": "17",
                                        "nb_form_viewers": 16,
                                        "nb_form_starts": "0",
                                        "nb_form_starters": "0",
                                        "nb_form_submissions": "0",
                                        "nb_form_submitters": "0",
                                        "nb_form_resubmitters": "0",
                                        "nb_form_conversions": "0",
                                        "form_starters_rate": "0%",
                                        "form_conversion_rate": "0%",
                                        "form_submitter_rate": "0%",
                                        "avg_form_time_hesitation": 0,
                                        "avg_form_time_to_first_submission": 0,
                                        "avg_form_time_spent": 0,
                                        "url": "divezone.net\\/australia-liveaboard"
                                    },
                                    {
                                        "label": "divezone.net\\/belize-liveaboard-reviews-2013",
                                        "nb_form_views": "11",
                                        "nb_form_viewers": 10,
                                        "nb_form_starts": "0",
                                        "nb_form_starters": "0",
                                        "nb_form_submissions": "0",
                                        "nb_form_submitters": "0",
                                        "nb_form_resubmitters": "0",
                                        "nb_form_conversions": "0",
                                        "form_starters_rate": "0%",
                                        "form_conversion_rate": "0%",
                                        "form_submitter_rate": "0%",
                                        "avg_form_time_hesitation": 0,
                                        "avg_form_time_to_first_submission": 0,
                                        "avg_form_time_spent": 0,
                                        "url": "divezone.net\\/belize-liveaboard-reviews-2013"
                                    },
                                    {
                                        "label": "divezone.net\\/best-dive-sites",
                                        "nb_form_views": "165",
                                        "nb_form_viewers": 131,
                                        "nb_form_starts": "0",
                                        "nb_form_starters": "0",
                                        "nb_form_submissions": "0",
                                        "nb_form_submitters": "0",
                                        "nb_form_resubmitters": "0",
                                        "nb_form_conversions": "0",
                                        "form_starters_rate": "0%",
                                        "form_conversion_rate": "0%",
                                        "form_submitter_rate": "0%",
                                        "avg_form_time_hesitation": 0,
                                        "avg_form_time_to_first_submission": 0,
                                        "avg_form_time_spent": 0,
                                        "url": "divezone.net\\/best-dive-sites"
                                    },
                                    {
                                        "label": "divezone.net\\/best-great-barrier-reef-australia-liveaboard-reviews-2013",
                                        "nb_form_views": "31",
                                        "nb_form_viewers": 25,
                                        "nb_form_starts": "0",
                                        "nb_form_starters": "0",
                                        "nb_form_submissions": "0",
                                        "nb_form_submitters": "0",
                                        "nb_form_resubmitters": "0",
                                        "nb_form_conversions": "0",
                                        "form_starters_rate": "0%",
                                        "form_conversion_rate": "0%",
                                        "form_submitter_rate": "0%",
                                        "avg_form_time_hesitation": 0,
                                        "avg_form_time_to_first_submission": 0,
                                        "avg_form_time_spent": 0,
                                        "url": "divezone.net\\/best-great-barrier-reef-australia-liveaboard-reviews-2013"
                                    }
                                ]
                            },
                            "application/vnd.ms-excel": {
[...]
