body {
    padding-top: 80px;
}

#sidebar {
    opacity: 0.65;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

#sidebar:hover {
    opacity: 0.8;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}

.documentation h1 {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.documentation code {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.bs-side .panel-collapse {
    border-color: #7cabd4;
}

.bs-side .panel-body {
    padding:0px;
}

.bs-side .panel-heading {
    border-color: #7cabd4;
    background-color: #84b4dd;
    color: #ffffff;
}

.teaser-item {
    margin-bottom: 40px;
}

.social-footer {
    text-align: center;
    margin-top: 40px;
}

#sidebar .panel-title a {
    word-wrap: break-word;
}

/* First level of nav */
.bs-sidenav {
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #7cabd4;
    background-color: #84b4dd;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    color: #fff;
    padding: 5px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #357ebd;
    border-right: 1px solid #357ebd;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #555555;
    background-color: transparent;
    border-right: 1px solid #357ebd;
}

.bs-sidebar .nav-pills>li>a {
    border-radius: 0px;
}

/* Nav: second level (shown on .active) */
#sidebar .bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 25px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    #sidebar .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    #sidebar {
        width: 213px;
    }

    #sidebar.expand .bs-sidebar .nav .nav {
        display: block;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    #sidebar {
        width: 263px;
    }
}


.btn-github {
    color: #000000;
    text-shadow: 0 0.7px 0 rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
    background-image: -o-linear-gradient(top, #fafafa, #e6e6e6);
    background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #c0c0c0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.btn-github.disabled,
.btn-github[disabled] {
    color: #000000;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn-github:active,
.btn-github.active {
    background-color: #cdcdcd \9;
}


.btn-twitter {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #1c95d0;
    *background-color: #0271bf;
    background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
    background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
    background-image: -o-linear-gradient(top, #2daddc, #0271bf);
    background-image: linear-gradient(to bottom, #2daddc, #0271bf);
    background-repeat: repeat-x;
    border-color: #0271bf #0271bf #014473;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
    color: #ffffff;
    background-color: #0271bf;
    *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
    background-color: #01538d \9;
}

.navbar-inverse .navbar-nav > li > a.start-here-link {
    color:#428BCA;
}

.navbar-inverse .navbar-nav > li > a.start-here-link:hover {
    color:white;
}

#quick-search-typeahead {
    margin-top:15px;
}

#quick-search-typeahead > input {
    width:256px;
}

.typeahead {
    min-width:256px;
    margin-top:-1px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    font-size:.8em;
}

.dropdown-menu > li > a {
    white-space: normal;
}

.alert {
    margin-top:15px 1.5em 0 1.5em;
}

/* bootstrap overrides */
pre {
    background-color:transparent;
    border-width:0px;
    padding:0;
}

pre > code {
    border-radius: 4px;
    padding:9.5px;
}

p {
    margin: 0 0 15px;
}

pre.inline-code-pre {
  display:inline-block;
  margin:0;
}

pre.inline-code-pre>code {
  padding:2px 4px;
}