{
  "openapi": "3.1.0",
  "info": {
    "title": "Matomo Reporting API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https:\/\/demo.matomo.cloud\/",
      "description": "Matomo demo server"
    }
  ],
  "paths": {
    "\/index.php?module=API&method=CustomReports.duplicateCustomReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Copies a specified custom report to one or more sites. If a custom report with the same name already exists, the new custom report\nwill have an automatically adjusted name to make it unique to the assigned site.",
        "operationId": "CustomReports.duplicateCustomReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "idCustomReport",
            "in": "query",
            "description": "The ID of the custom report to duplicate.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idDestinationSites",
            "in": "query",
            "description": "Optional array of IDs identifying which site(s) the new custom report is to be assigned to. The default is [idSite] when nothing is provided.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response indicating success and containing the ID of the newly created report.",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "additionalData": {
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "success": "1",
                  "message": "The custom report has been successfully copied.",
                  "additionalData": {
                    "idSite": "1",
                    "idDestinationSites": "",
                    "idCustomReport": "1",
                    "newIds": "9"
                  }
                }
              },
              "application\/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "additionalData": {
                      "properties": {
                        "idSite": {
                          "type": "integer"
                        },
                        "idDestinationSites": {
                          "type": "array",
                          "items": []
                        },
                        "idCustomReport": {
                          "type": "integer"
                        },
                        "newIds": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "The custom report has been successfully copied.",
                  "additionalData": {
                    "idSite": 1,
                    "idDestinationSites": [],
                    "idCustomReport": 1,
                    "newIds": 9
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.addCustomReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Adds a new custom report",
        "operationId": "CustomReports.addCustomReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the report.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "The type of report you want to create, for example 'table' or 'evolution'. For a list of available reports call 'CustomReports.getAvailableReportTypes'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricIds",
            "in": "query",
            "description": "A list of metric IDs. For a list of available metrics call 'CustomReports.getAvailableMetrics'",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "By default, the report will be put into a custom report category unless a specific categoryId is provided. For a list of available categories call 'CustomReports.getAvailableCategories'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimensionIds",
            "in": "query",
            "description": "A list of dimension IDs.  For a list of available metrics call 'CustomReports.getAvailableDimensions'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "subcategoryId",
            "in": "query",
            "description": "By default, a new reporting page will be created for this report unless you specifiy a specific name or subcategoryID. For a list of available subcategories call 'CustomReports.getAvailableCategories'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "An optional description for the report, will be shown in the title help icon of the report.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "segmentFilter",
            "in": "query",
            "description": "An optional segment to filter the report data. Needs to be sent urlencoded.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "multipleIdSites",
            "in": "query",
            "description": "An optional list of idsites for which we need to execute the report",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#\/components\/responses\/GenericInteger"
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.updateCustomReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Updates an existing custom report. Be aware that if you change metrics, dimensions, the report type or the segment filter,\npreviously processed\/archived reports may become unavailable and would need to be re-processed.",
        "operationId": "CustomReports.updateCustomReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "idCustomReport",
            "in": "query",
            "description": "The ID of the custom report to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the report.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "The type of report you want to create, for example 'table' or 'evolution'. For a list of available reports call 'CustomReports.getAvailableReportTypes'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricIds",
            "in": "query",
            "description": "A list of metric IDs. For a list of available metrics call 'CustomReports.getAvailableMetrics'",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "By default, the report will be put into a custom report category unless a specific categoryId is provided. For a list of available categories call 'CustomReports.getAvailableCategories'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimensionIds",
            "in": "query",
            "description": "A list of dimension IDs.  For a list of available metrics call 'CustomReports.getAvailableDimensions'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "subcategoryId",
            "in": "query",
            "description": "By default, a new reporting page will be created for this report unless you specifiy a specific name or subcategoryID. For a list of available subcategories call 'CustomReports.getAvailableCategories'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "An optional description for the report, will be shown in the title help icon of the report.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "segmentFilter",
            "in": "query",
            "description": "An optional segment to filter the report data. Needs to be sent urlencoded.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "subCategoryReportIds",
            "in": "query",
            "description": "List of sub report ids mapped to this report",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            }
          },
          {
            "name": "multipleIdSites",
            "in": "query",
            "description": "An optional list of idsites for which we need to execute the report",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#\/components\/responses\/GenericSuccessNoBody"
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.getConfiguredReports": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Get all custom report configurations for a specific site.",
        "operationId": "CustomReports.getConfiguredReports",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "skipCategoryMetadata",
            "in": "query",
            "description": "Optional flag indicating whether to omit metadata for the category.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Example links: [XML](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getConfiguredReports&idSite=1&format=xml&token_auth=anonymous), [JSON](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getConfiguredReports&idSite=1&format=JSON&token_auth=anonymous), TSV (N\/A)",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "category": {
                            "type": "object"
                          },
                          "dimensions": {
                            "properties": {
                              "row": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": "object"
                          },
                          "metrics": {
                            "properties": {
                              "row": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": "object"
                          },
                          "site": {
                            "type": "object"
                          }
                        },
                        "type": "object",
                        "xml": {
                          "name": "row"
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "row": [
                    {
                      "idcustomreport": "1",
                      "idsite": "1",
                      "revision": "0",
                      "report_type": "table",
                      "name": "Pages by New\\\/Returning visitor",
                      "description": "",
                      "category": {
                        "id": "CustomReports_CustomReports",
                        "name": "Custom Reports",
                        "order": "65",
                        "icon": "icon-business"
                      },
                      "subcategory": "",
                      "subcategory_order": "9999999",
                      "dimensions": {
                        "row": [
                          "CoreHome.VisitorReturning",
                          "Actions.PageTitle"
                        ]
                      },
                      "metrics": {
                        "row": [
                          "nb_uniq_visitors",
                          "nb_visits",
                          "pageviews"
                        ]
                      },
                      "segment_filter": "",
                      "created_date": "2017-10-20 02:31:50",
                      "updated_date": "2017-10-20 02:31:50",
                      "status": "active",
                      "multiple_idsites": "",
                      "site": {
                        "id": "1",
                        "name": "Demo Site"
                      },
                      "allowedToEdit": "0"
                    },
                    {
                      "idcustomreport": "2",
                      "idsite": "1",
                      "revision": "0",
                      "report_type": "table",
                      "name": "Bali pages, breakdown new\\\/returning",
                      "description": "",
                      "category": {
                        "id": "CustomReports_CustomReports",
                        "name": "Custom Reports",
                        "order": "65",
                        "icon": "icon-business"
                      },
                      "subcategory": "",
                      "subcategory_order": "9999999",
                      "dimensions": {
                        "row": [
                          "Actions.PageTitle",
                          "CoreHome.VisitorReturning"
                        ]
                      },
                      "metrics": {
                        "row": [
                          "nb_uniq_visitors",
                          "pageviews",
                          "nb_visits"
                        ]
                      },
                      "segment_filter": "pageTitle=@bali",
                      "created_date": "2017-10-20 02:41:08",
                      "updated_date": "2017-10-20 02:41:08",
                      "status": "active",
                      "multiple_idsites": "",
                      "site": {
                        "id": "1",
                        "name": "Demo Site"
                      },
                      "allowedToEdit": "0"
                    },
                    {
                      "idcustomreport": "5",
                      "idsite": "1",
                      "revision": "0",
                      "report_type": "table",
                      "name": "Country by New\\\/returning with a filter",
                      "description": "",
                      "category": {
                        "id": "CustomReports_CustomReports",
                        "name": "Custom Reports",
                        "order": "65",
                        "icon": "icon-business"
                      },
                      "subcategory": "",
                      "subcategory_order": "9999999",
                      "dimensions": {
                        "row": [
                          "UserCountry.Country",
                          "CoreHome.VisitorReturning"
                        ]
                      },
                      "metrics": {
                        "row": [
                          "nb_uniq_visitors",
                          "goal_7_conversion",
                          "goal_7_conversion_uniq_visitors_rate"
                        ]
                      },
                      "segment_filter": "countryCode!=pl",
                      "created_date": "2018-01-26 03:51:11",
                      "updated_date": "2018-01-26 03:51:11",
                      "status": "active",
                      "multiple_idsites": "",
                      "site": {
                        "id": "1",
                        "name": "Demo Site"
                      },
                      "allowedToEdit": "0"
                    },
                    {
                      "idcustomreport": "8",
                      "idsite": "1",
                      "revision": "0",
                      "report_type": "evolution",
                      "name": "Evolution KPIs",
                      "description": "",
                      "category": {
                        "id": "CustomReports_CustomReports",
                        "name": "Custom Reports",
                        "order": "65",
                        "icon": "icon-business"
                      },
                      "subcategory": "",
                      "subcategory_order": "9999999",
                      "dimensions": "",
                      "metrics": {
                        "row": [
                          "nb_uniq_visitors",
                          "goal_7_conversion",
                          "goal_7_conversion_uniq_visitors_rate",
                          "goal_4_conversion"
                        ]
                      },
                      "segment_filter": "",
                      "created_date": "2018-04-03 02:55:32",
                      "updated_date": "2018-04-03 02:55:32",
                      "status": "active",
                      "multiple_idsites": "",
                      "site": {
                        "id": "1",
                        "name": "Demo Site"
                      },
                      "allowedToEdit": "0"
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "": {
                        "properties": {
                          "idcustomreport": {
                            "type": "integer"
                          },
                          "idsite": {
                            "type": "integer"
                          },
                          "revision": {
                            "type": "integer"
                          },
                          "report_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "site": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "subcategory": {
                            "type": [
                              "string",
                              "number",
                              "integer",
                              "boolean",
                              "array",
                              "object",
                              "null"
                            ]
                          },
                          "subcategory_order": {
                            "type": "integer"
                          },
                          "segment_filter": {
                            "type": "string"
                          },
                          "created_date": {
                            "type": "string"
                          },
                          "updated_date": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "multiple_idsites": {
                            "type": [
                              "string",
                              "number",
                              "integer",
                              "boolean",
                              "array",
                              "object",
                              "null"
                            ]
                          },
                          "allowedToEdit": {
                            "type": "boolean"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "idcustomreport": 1,
                    "idsite": 1,
                    "revision": 0,
                    "report_type": "table",
                    "name": "Pages by New\\\/Returning visitor",
                    "description": "",
                    "category": {
                      "id": "CustomReports_CustomReports",
                      "name": "Custom Reports",
                      "order": 65,
                      "icon": "icon-business"
                    },
                    "subcategory": null,
                    "subcategory_order": 9999999,
                    "dimensions": [
                      "CoreHome.VisitorReturning",
                      "Actions.PageTitle"
                    ],
                    "metrics": [
                      "nb_uniq_visitors",
                      "nb_visits",
                      "pageviews"
                    ],
                    "segment_filter": "",
                    "created_date": "2017-10-20 02:31:50",
                    "updated_date": "2017-10-20 02:31:50",
                    "status": "active",
                    "multiple_idsites": null,
                    "site": {
                      "id": 1,
                      "name": "Demo Site"
                    },
                    "allowedToEdit": false
                  },
                  {
                    "idcustomreport": 2,
                    "idsite": 1,
                    "revision": 0,
                    "report_type": "table",
                    "name": "Bali pages, breakdown new\\\/returning",
                    "description": "",
                    "category": {
                      "id": "CustomReports_CustomReports",
                      "name": "Custom Reports",
                      "order": 65,
                      "icon": "icon-business"
                    },
                    "subcategory": null,
                    "subcategory_order": 9999999,
                    "dimensions": [
                      "Actions.PageTitle",
                      "CoreHome.VisitorReturning"
                    ],
                    "metrics": [
                      "nb_uniq_visitors",
                      "pageviews",
                      "nb_visits"
                    ],
                    "segment_filter": "pageTitle=@bali",
                    "created_date": "2017-10-20 02:41:08",
                    "updated_date": "2017-10-20 02:41:08",
                    "status": "active",
                    "multiple_idsites": null,
                    "site": {
                      "id": 1,
                      "name": "Demo Site"
                    },
                    "allowedToEdit": false
                  },
                  {
                    "idcustomreport": 5,
                    "idsite": 1,
                    "revision": 0,
                    "report_type": "table",
                    "name": "Country by New\\\/returning with a filter",
                    "description": "",
                    "category": {
                      "id": "CustomReports_CustomReports",
                      "name": "Custom Reports",
                      "order": 65,
                      "icon": "icon-business"
                    },
                    "subcategory": null,
                    "subcategory_order": 9999999,
                    "dimensions": [
                      "UserCountry.Country",
                      "CoreHome.VisitorReturning"
                    ],
                    "metrics": [
                      "nb_uniq_visitors",
                      "goal_7_conversion",
                      "goal_7_conversion_uniq_visitors_rate"
                    ],
                    "segment_filter": "countryCode!=pl",
                    "created_date": "2018-01-26 03:51:11",
                    "updated_date": "2018-01-26 03:51:11",
                    "status": "active",
                    "multiple_idsites": null,
                    "site": {
                      "id": 1,
                      "name": "Demo Site"
                    },
                    "allowedToEdit": false
                  },
                  {
                    "idcustomreport": 8,
                    "idsite": 1,
                    "revision": 0,
                    "report_type": "evolution",
                    "name": "Evolution KPIs",
                    "description": "",
                    "category": {
                      "id": "CustomReports_CustomReports",
                      "name": "Custom Reports",
                      "order": 65,
                      "icon": "icon-business"
                    },
                    "subcategory": null,
                    "subcategory_order": 9999999,
                    "dimensions": [],
                    "metrics": [
                      "nb_uniq_visitors",
                      "goal_7_conversion",
                      "goal_7_conversion_uniq_visitors_rate",
                      "goal_4_conversion"
                    ],
                    "segment_filter": "",
                    "created_date": "2018-04-03 02:55:32",
                    "updated_date": "2018-04-03 02:55:32",
                    "status": "active",
                    "multiple_idsites": null,
                    "site": {
                      "id": 1,
                      "name": "Demo Site"
                    },
                    "allowedToEdit": false
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.getConfiguredReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Get a specific custom report configuration.",
        "operationId": "CustomReports.getConfiguredReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "idCustomReport",
            "in": "query",
            "description": "The ID of the custom report.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Example links: [XML](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getConfiguredReport&idSite=1&idCustomReport=1&format=xml&token_auth=anonymous), [JSON](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getConfiguredReport&idSite=1&idCustomReport=1&format=JSON&token_auth=anonymous), TSV (N\/A)",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "category": {
                      "type": "object"
                    },
                    "dimensions": {
                      "properties": {
                        "row": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "type": "object"
                    },
                    "metrics": {
                      "properties": {
                        "row": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "type": "object"
                    },
                    "site": {
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "idcustomreport": "1",
                  "idsite": "1",
                  "revision": "0",
                  "report_type": "table",
                  "name": "Pages by New\\\/Returning visitor",
                  "description": "",
                  "category": {
                    "id": "CustomReports_CustomReports",
                    "name": "Custom Reports",
                    "order": "65",
                    "icon": "icon-business"
                  },
                  "subcategory": "",
                  "subcategory_order": "9999999",
                  "dimensions": {
                    "row": [
                      "CoreHome.VisitorReturning",
                      "Actions.PageTitle"
                    ]
                  },
                  "metrics": {
                    "row": [
                      "nb_uniq_visitors",
                      "nb_visits",
                      "pageviews"
                    ]
                  },
                  "segment_filter": "",
                  "created_date": "2017-10-20 02:31:50",
                  "updated_date": "2017-10-20 02:31:50",
                  "status": "active",
                  "multiple_idsites": "",
                  "site": {
                    "id": "1",
                    "name": "Demo Site"
                  },
                  "child_reports": "",
                  "multipleIdSites": "",
                  "allowedToEdit": "0"
                }
              },
              "application\/json": {
                "schema": {
                  "properties": {
                    "idcustomreport": {
                      "type": "integer"
                    },
                    "idsite": {
                      "type": "integer"
                    },
                    "revision": {
                      "type": "integer"
                    },
                    "report_type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "multipleIdSites": {
                      "type": "array",
                      "items": []
                    },
                    "subcategory": {
                      "type": [
                        "string",
                        "number",
                        "integer",
                        "boolean",
                        "array",
                        "object",
                        "null"
                      ]
                    },
                    "subcategory_order": {
                      "type": "integer"
                    },
                    "segment_filter": {
                      "type": "string"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "updated_date": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "multiple_idsites": {
                      "type": [
                        "string",
                        "number",
                        "integer",
                        "boolean",
                        "array",
                        "object",
                        "null"
                      ]
                    },
                    "allowedToEdit": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                },
                "example": {
                  "idcustomreport": 1,
                  "idsite": 1,
                  "revision": 0,
                  "report_type": "table",
                  "name": "Pages by New\\\/Returning visitor",
                  "description": "",
                  "category": {
                    "id": "CustomReports_CustomReports",
                    "name": "Custom Reports",
                    "order": 65,
                    "icon": "icon-business"
                  },
                  "subcategory": null,
                  "subcategory_order": 9999999,
                  "dimensions": [
                    "CoreHome.VisitorReturning",
                    "Actions.PageTitle"
                  ],
                  "metrics": [
                    "nb_uniq_visitors",
                    "nb_visits",
                    "pageviews"
                  ],
                  "segment_filter": "",
                  "created_date": "2017-10-20 02:31:50",
                  "updated_date": "2017-10-20 02:31:50",
                  "status": "active",
                  "multiple_idsites": null,
                  "site": {
                    "id": 1,
                    "name": "Demo Site"
                  },
                  "child_reports": [],
                  "multipleIdSites": [],
                  "allowedToEdit": false
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.deleteCustomReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Deletes the given custom report.",
        "description": "When a custom report is deleted, its report will be no longer available in the API and tracked data for this\nreport might be removed at some point by the system.",
        "operationId": "CustomReports.deleteCustomReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "idCustomReport",
            "in": "query",
            "description": "The ID of the custom report to duplicate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text\/xml": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "success": ""
                }
              },
              "application\/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "example": {
                  "result": "success",
                  "message": "ok"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.pauseCustomReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Pauses the given custom report.",
        "description": "When a custom report is paused, its report will be no longer be archived",
        "operationId": "CustomReports.pauseCustomReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "idCustomReport",
            "in": "query",
            "description": "The ID of the custom report to pause.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#\/components\/responses\/GenericSuccessNoBody"
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.resumeCustomReport": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Resumes the given custom report.",
        "description": "When a custom report is resumed, its report will start archiving again",
        "operationId": "CustomReports.resumeCustomReport",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          },
          {
            "name": "idCustomReport",
            "in": "query",
            "description": "The ID of the custom report to resume.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#\/components\/responses\/GenericSuccessNoBody"
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.getAvailableCategories": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Get a list of available categories that can be used in custom reports.",
        "operationId": "CustomReports.getAvailableCategories",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Example links: [XML](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableCategories&idSite=1&format=xml&token_auth=anonymous), [JSON](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableCategories&idSite=1&format=JSON&token_auth=anonymous), TSV (N\/A)",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "subcategories": {
                            "properties": {
                              "row": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "xml": {
                                    "name": "row"
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object",
                        "xml": {
                          "name": "row"
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "row": [
                    {
                      "uniqueId": "General_Actions",
                      "name": "Behaviour",
                      "subcategories": {
                        "row": [
                          {
                            "uniqueId": "customdimension2",
                            "name": "Page Author"
                          },
                          {
                            "uniqueId": "customdimension4",
                            "name": "Page Location"
                          },
                          {
                            "uniqueId": "customdimension5",
                            "name": "Page Type"
                          },
                          {
                            "uniqueId": "VisitorInterest_Engagement",
                            "name": "Engagement"
                          },
                          {
                            "uniqueId": "Transitions_Transitions",
                            "name": "Transitions"
                          },
                          {
                            "uniqueId": "General_Downloads",
                            "name": "Downloads"
                          },
                          {
                            "uniqueId": "Actions_SubmenuPagesEntry",
                            "name": "Entry pages"
                          },
                          {
                            "uniqueId": "Actions_SubmenuPagesExit",
                            "name": "Exit pages"
                          },
                          {
                            "uniqueId": "General_Outlinks",
                            "name": "Outlinks"
                          },
                          {
                            "uniqueId": "Actions_SubmenuPageTitles",
                            "name": "Page titles"
                          },
                          {
                            "uniqueId": "General_Pages",
                            "name": "Pages"
                          },
                          {
                            "uniqueId": "Actions_SubmenuSitesearch",
                            "name": "Site Search"
                          },
                          {
                            "uniqueId": "Events_Events",
                            "name": "Events"
                          },
                          {
                            "uniqueId": "Contents_Contents",
                            "name": "Contents"
                          },
                          {
                            "uniqueId": "PagePerformance_Performance",
                            "name": "Performance"
                          },
                          {
                            "uniqueId": "UsersFlow_TopPaths",
                            "name": "Top Paths"
                          },
                          {
                            "uniqueId": "UsersFlow_UsersFlow",
                            "name": "Users Flow"
                          },
                          {
                            "uniqueId": "SearchEngineKeywordsPerformance_CrawlingErrors",
                            "name": "Crawling errors"
                          }
                        ]
                      }
                    },
                    {
                      "uniqueId": "General_Visitors",
                      "name": "Visitors",
                      "subcategories": {
                        "row": [
                          {
                            "uniqueId": "customdimension1",
                            "name": "User Type"
                          },
                          {
                            "uniqueId": "DevicesDetection_Devices",
                            "name": "Devices"
                          },
                          {
                            "uniqueId": "DevicesDetection_Software",
                            "name": "Software"
                          },
                          {
                            "uniqueId": "General_Overview",
                            "name": "Overview"
                          },
                          {
                            "uniqueId": "UserCountry_SubmenuLocations",
                            "name": "Locations"
                          },
                          {
                            "uniqueId": "VisitTime_SubmenuTimes",
                            "name": "Times"
                          },
                          {
                            "uniqueId": "UserCountryMap_RealTimeMap",
                            "name": "Real-time Map"
                          },
                          {
                            "uniqueId": "General_RealTime",
                            "name": "Real-time"
                          },
                          {
                            "uniqueId": "Live_VisitorLog",
                            "name": "Visits Log"
                          },
                          {
                            "uniqueId": "UserId_UserReportTitle",
                            "name": "User IDs"
                          },
                          {
                            "uniqueId": "CustomVariables_CustomVariables",
                            "name": "Custom Variables"
                          }
                        ]
                      }
                    },
                    {
                      "uniqueId": "Referrers_Referrers",
                      "name": "Acquisition",
                      "subcategories": {
                        "row": [
                          {
                            "uniqueId": "Referrers_AIAssistants",
                            "name": "AI Assistants"
                          },
                          {
                            "uniqueId": "Referrers_WidgetGetAll",
                            "name": "All Channels"
                          },
                          {
                            "uniqueId": "Referrers_URLCampaignBuilder",
                            "name": "Campaign URL Builder"
                          },
                          {
                            "uniqueId": "Referrers_Campaigns",
                            "name": "Campaigns"
                          },
                          {
                            "uniqueId": "General_Overview",
                            "name": "Overview"
                          },
                          {
                            "uniqueId": "Referrers_SubmenuSearchEngines",
                            "name": "Search Engines & Keywords"
                          },
                          {
                            "uniqueId": "Referrers_Socials",
                            "name": "Social Networks"
                          },
                          {
                            "uniqueId": "Referrers_SubmenuWebsitesOnly",
                            "name": "Websites"
                          },
                          {
                            "uniqueId": "SearchEngineKeywordsPerformance_CrawlingStats",
                            "name": "Crawling overview"
                          }
                        ]
                      }
                    },
                    {
                      "uniqueId": "Goals_Goals",
                      "name": "Goals",
                      "subcategories": {
                        "row": [
                          {
                            "uniqueId": "8",
                            "name": "Agoda click"
                          },
                          {
                            "uniqueId": "7",
                            "name": "Liveaboard.com click"
                          },
                          {
                            "uniqueId": "4",
                            "name": "New Job Application"
                          },
                          {
                            "uniqueId": "6",
                            "name": "New Resume"
                          },
                          {
                            "uniqueId": "10",
                            "name": "Newsletter Signup"
                          },
                          {
                            "uniqueId": "9",
                            "name": "User Comments"
                          },
                          {
                            "uniqueId": "5",
                            "name": "View Submit Job"
                          },
                          {
                            "uniqueId": "General_Overview",
                            "name": "Overview"
                          },
                          {
                            "uniqueId": "MultiChannelConversionAttribution_MultiAttribution",
                            "name": "Multi Attribution"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "": {
                        "properties": {
                          "uniqueId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "subcategories": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "": {
                                  "properties": {
                                    "uniqueId": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "uniqueId": "General_Actions",
                    "name": "Behaviour",
                    "subcategories": [
                      {
                        "uniqueId": "customdimension2",
                        "name": "Page Author"
                      },
                      {
                        "uniqueId": "customdimension4",
                        "name": "Page Location"
                      },
                      {
                        "uniqueId": "customdimension5",
                        "name": "Page Type"
                      },
                      {
                        "uniqueId": "VisitorInterest_Engagement",
                        "name": "Engagement"
                      },
                      {
                        "uniqueId": "Transitions_Transitions",
                        "name": "Transitions"
                      },
                      {
                        "uniqueId": "General_Downloads",
                        "name": "Downloads"
                      },
                      {
                        "uniqueId": "Actions_SubmenuPagesEntry",
                        "name": "Entry pages"
                      },
                      {
                        "uniqueId": "Actions_SubmenuPagesExit",
                        "name": "Exit pages"
                      },
                      {
                        "uniqueId": "General_Outlinks",
                        "name": "Outlinks"
                      },
                      {
                        "uniqueId": "Actions_SubmenuPageTitles",
                        "name": "Page titles"
                      },
                      {
                        "uniqueId": "General_Pages",
                        "name": "Pages"
                      },
                      {
                        "uniqueId": "Actions_SubmenuSitesearch",
                        "name": "Site Search"
                      },
                      {
                        "uniqueId": "Events_Events",
                        "name": "Events"
                      },
                      {
                        "uniqueId": "Contents_Contents",
                        "name": "Contents"
                      },
                      {
                        "uniqueId": "PagePerformance_Performance",
                        "name": "Performance"
                      },
                      {
                        "uniqueId": "UsersFlow_TopPaths",
                        "name": "Top Paths"
                      },
                      {
                        "uniqueId": "UsersFlow_UsersFlow",
                        "name": "Users Flow"
                      },
                      {
                        "uniqueId": "SearchEngineKeywordsPerformance_CrawlingErrors",
                        "name": "Crawling errors"
                      }
                    ]
                  },
                  {
                    "uniqueId": "General_Visitors",
                    "name": "Visitors",
                    "subcategories": [
                      {
                        "uniqueId": "customdimension1",
                        "name": "User Type"
                      },
                      {
                        "uniqueId": "DevicesDetection_Devices",
                        "name": "Devices"
                      },
                      {
                        "uniqueId": "DevicesDetection_Software",
                        "name": "Software"
                      },
                      {
                        "uniqueId": "General_Overview",
                        "name": "Overview"
                      },
                      {
                        "uniqueId": "UserCountry_SubmenuLocations",
                        "name": "Locations"
                      },
                      {
                        "uniqueId": "VisitTime_SubmenuTimes",
                        "name": "Times"
                      },
                      {
                        "uniqueId": "UserCountryMap_RealTimeMap",
                        "name": "Real-time Map"
                      },
                      {
                        "uniqueId": "General_RealTime",
                        "name": "Real-time"
                      },
                      {
                        "uniqueId": "Live_VisitorLog",
                        "name": "Visits Log"
                      },
                      {
                        "uniqueId": "UserId_UserReportTitle",
                        "name": "User IDs"
                      },
                      {
                        "uniqueId": "CustomVariables_CustomVariables",
                        "name": "Custom Variables"
                      }
                    ]
                  },
                  {
                    "uniqueId": "Referrers_Referrers",
                    "name": "Acquisition",
                    "subcategories": [
                      {
                        "uniqueId": "Referrers_AIAssistants",
                        "name": "AI Assistants"
                      },
                      {
                        "uniqueId": "Referrers_WidgetGetAll",
                        "name": "All Channels"
                      },
                      {
                        "uniqueId": "Referrers_URLCampaignBuilder",
                        "name": "Campaign URL Builder"
                      },
                      {
                        "uniqueId": "Referrers_Campaigns",
                        "name": "Campaigns"
                      },
                      {
                        "uniqueId": "General_Overview",
                        "name": "Overview"
                      },
                      {
                        "uniqueId": "Referrers_SubmenuSearchEngines",
                        "name": "Search Engines & Keywords"
                      },
                      {
                        "uniqueId": "Referrers_Socials",
                        "name": "Social Networks"
                      },
                      {
                        "uniqueId": "Referrers_SubmenuWebsitesOnly",
                        "name": "Websites"
                      },
                      {
                        "uniqueId": "SearchEngineKeywordsPerformance_CrawlingStats",
                        "name": "Crawling overview"
                      }
                    ]
                  },
                  {
                    "uniqueId": "Goals_Goals",
                    "name": "Goals",
                    "subcategories": [
                      {
                        "uniqueId": "8",
                        "name": "Agoda click"
                      },
                      {
                        "uniqueId": "7",
                        "name": "Liveaboard.com click"
                      },
                      {
                        "uniqueId": "4",
                        "name": "New Job Application"
                      },
                      {
                        "uniqueId": "6",
                        "name": "New Resume"
                      },
                      {
                        "uniqueId": "10",
                        "name": "Newsletter Signup"
                      },
                      {
                        "uniqueId": "9",
                        "name": "User Comments"
                      },
                      {
                        "uniqueId": "5",
                        "name": "View Submit Job"
                      },
                      {
                        "uniqueId": "General_Overview",
                        "name": "Overview"
                      },
                      {
                        "uniqueId": "MultiChannelConversionAttribution_MultiAttribution",
                        "name": "Multi Attribution"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.getAvailableReportTypes": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Get a list of available report types that can be used in custom reports.",
        "operationId": "CustomReports.getAvailableReportTypes",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Example links: [XML](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableReportTypes&format=xml&token_auth=anonymous), [JSON](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableReportTypes&format=JSON&token_auth=anonymous), [TSV (Excel)](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableReportTypes&format=Tsv&token_auth=anonymous)",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "xml": {
                          "name": "row"
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "row": [
                    {
                      "key": "table",
                      "value": "Table"
                    },
                    {
                      "key": "evolution",
                      "value": "Evolution"
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "": {
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "key": "table",
                    "value": "Table"
                  },
                  {
                    "key": "evolution",
                    "value": "Evolution"
                  }
                ]
              },
              "application\/vnd.ms-excel": {
                "example": "key    value\n     * table    Table\n     * evolution    Evolution"
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.getAvailableDimensions": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Get a list of available dimensions that can be used in custom reports.",
        "operationId": "CustomReports.getAvailableDimensions",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Example links: [XML](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableDimensions&idSite=1&format=xml&token_auth=anonymous), [JSON](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableDimensions&idSite=1&format=JSON&token_auth=anonymous), TSV (N\/A)",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "dimensions": {
                            "properties": {
                              "row": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "xml": {
                                    "name": "row"
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object",
                        "xml": {
                          "name": "row"
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "row": [
                    {
                      "category": "Visitor location",
                      "dimensions": {
                        "row": [
                          {
                            "uniqueId": "UserCountry.City",
                            "name": "City",
                            "sqlSegment": "log_visit.location_city"
                          },
                          {
                            "uniqueId": "UserCountry.Continent",
                            "name": "Continent",
                            "sqlSegment": "log_visit.location_country"
                          },
                          {
                            "uniqueId": "UserCountry.Country",
                            "name": "Country",
                            "sqlSegment": "log_visit.location_country"
                          },
                          {
                            "uniqueId": "UserLanguage.Language",
                            "name": "Language",
                            "sqlSegment": "log_visit.location_browser_lang"
                          },
                          {
                            "uniqueId": "UserCountry.Latitude",
                            "name": "Latitude",
                            "sqlSegment": "log_visit.location_latitude"
                          },
                          {
                            "uniqueId": "UserCountry.Longitude",
                            "name": "Longitude",
                            "sqlSegment": "log_visit.location_longitude"
                          },
                          {
                            "uniqueId": "UserCountry.Region",
                            "name": "Region",
                            "sqlSegment": "log_visit.location_region"
                          }
                        ]
                      },
                      "orderId": "7"
                    },
                    {
                      "category": "Events",
                      "dimensions": {
                        "row": [
                          {
                            "uniqueId": "Events.EventAction",
                            "name": "Event Action",
                            "sqlSegment": "log_link_visit_action.idaction_event_action"
                          },
                          {
                            "uniqueId": "Events.EventCategory",
                            "name": "Event Category",
                            "sqlSegment": "log_link_visit_action.idaction_event_category"
                          },
                          {
                            "uniqueId": "Events.EventName",
                            "name": "Event Name",
                            "sqlSegment": "log_link_visit_action.idaction_name"
                          },
                          {
                            "uniqueId": "Events.EventUrl",
                            "name": "Event URL",
                            "sqlSegment": "log_link_visit_action.idaction_url"
                          },
                          {
                            "uniqueId": "Events.EventValue",
                            "name": "Event Value",
                            "sqlSegment": "log_link_visit_action.custom_float"
                          }
                        ]
                      },
                      "orderId": "12"
                    },
                    {
                      "category": "Acquisition",
                      "dimensions": {
                        "row": [
                          {
                            "uniqueId": "AdvertisingConversionExport.AdClickId",
                            "name": "Ad Click ID",
                            "sqlSegment": "log_clickid.adclickid"
                          },
                          {
                            "uniqueId": "AdvertisingConversionExport.AdProvider",
                            "name": "Ad Provider",
                            "sqlSegment": "log_clickid.adprovider"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignContent",
                            "name": "Campaign Content",
                            "sqlSegment": "log_visit.campaign_content"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignGroup",
                            "name": "Campaign Group",
                            "sqlSegment": "log_visit.campaign_group"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignId",
                            "name": "Campaign Id",
                            "sqlSegment": "log_visit.campaign_id"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignKeyword",
                            "name": "Campaign Keyword",
                            "sqlSegment": "log_visit.campaign_keyword"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignMedium",
                            "name": "Campaign Medium",
                            "sqlSegment": "log_visit.campaign_medium"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignName",
                            "name": "Campaign Name",
                            "sqlSegment": "log_visit.campaign_name"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignPlacement",
                            "name": "Campaign Placement",
                            "sqlSegment": "log_visit.campaign_placement"
                          },
                          {
                            "uniqueId": "MarketingCampaignsReporting.CampaignSource",
                            "name": "Campaign Source",
                            "sqlSegment": "log_visit.campaign_source"
                          },
                          {
                            "uniqueId": "Referrers.ReferrerType",
                            "name": "Channel Type",
                            "sqlSegment": "log_visit.referer_type"
                          },
                          {
                            "uniqueId": "Referrers.Keyword",
                            "name": "Keyword",
                            "sqlSegment": "log_visit.referer_keyword"
                          },
                          {
                            "uniqueId": "Referrers.ReferrerName",
                            "name": "Referrer Name",
                            "sqlSegment": "log_visit.referer_name"
                          },
                          {
                            "uniqueId": "Referrers.ReferrerUrl",
                            "name": "Referrer URL",
                            "sqlSegment": "log_visit.referer_url"
                          }
                        ]
                      },
                      "orderId": "15"
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "": {
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "dimensions": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "": {
                                  "properties": {
                                    "uniqueId": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "sqlSegment": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "orderId": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "category": "Visitor location",
                    "dimensions": [
                      {
                        "uniqueId": "UserCountry.City",
                        "name": "City",
                        "sqlSegment": "log_visit.location_city"
                      },
                      {
                        "uniqueId": "UserCountry.Continent",
                        "name": "Continent",
                        "sqlSegment": "log_visit.location_country"
                      },
                      {
                        "uniqueId": "UserCountry.Country",
                        "name": "Country",
                        "sqlSegment": "log_visit.location_country"
                      },
                      {
                        "uniqueId": "UserLanguage.Language",
                        "name": "Language",
                        "sqlSegment": "log_visit.location_browser_lang"
                      },
                      {
                        "uniqueId": "UserCountry.Latitude",
                        "name": "Latitude",
                        "sqlSegment": "log_visit.location_latitude"
                      },
                      {
                        "uniqueId": "UserCountry.Longitude",
                        "name": "Longitude",
                        "sqlSegment": "log_visit.location_longitude"
                      },
                      {
                        "uniqueId": "UserCountry.Region",
                        "name": "Region",
                        "sqlSegment": "log_visit.location_region"
                      }
                    ],
                    "orderId": 7
                  },
                  {
                    "category": "Events",
                    "dimensions": [
                      {
                        "uniqueId": "Events.EventAction",
                        "name": "Event Action",
                        "sqlSegment": "log_link_visit_action.idaction_event_action"
                      },
                      {
                        "uniqueId": "Events.EventCategory",
                        "name": "Event Category",
                        "sqlSegment": "log_link_visit_action.idaction_event_category"
                      },
                      {
                        "uniqueId": "Events.EventName",
                        "name": "Event Name",
                        "sqlSegment": "log_link_visit_action.idaction_name"
                      },
                      {
                        "uniqueId": "Events.EventUrl",
                        "name": "Event URL",
                        "sqlSegment": "log_link_visit_action.idaction_url"
                      },
                      {
                        "uniqueId": "Events.EventValue",
                        "name": "Event Value",
                        "sqlSegment": "log_link_visit_action.custom_float"
                      }
                    ],
                    "orderId": 12
                  },
                  {
                    "category": "Acquisition",
                    "dimensions": [
                      {
                        "uniqueId": "AdvertisingConversionExport.AdClickId",
                        "name": "Ad Click ID",
                        "sqlSegment": "log_clickid.adclickid"
                      },
                      {
                        "uniqueId": "AdvertisingConversionExport.AdProvider",
                        "name": "Ad Provider",
                        "sqlSegment": "log_clickid.adprovider"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignContent",
                        "name": "Campaign Content",
                        "sqlSegment": "log_visit.campaign_content"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignGroup",
                        "name": "Campaign Group",
                        "sqlSegment": "log_visit.campaign_group"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignId",
                        "name": "Campaign Id",
                        "sqlSegment": "log_visit.campaign_id"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignKeyword",
                        "name": "Campaign Keyword",
                        "sqlSegment": "log_visit.campaign_keyword"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignMedium",
                        "name": "Campaign Medium",
                        "sqlSegment": "log_visit.campaign_medium"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignName",
                        "name": "Campaign Name",
                        "sqlSegment": "log_visit.campaign_name"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignPlacement",
                        "name": "Campaign Placement",
                        "sqlSegment": "log_visit.campaign_placement"
                      },
                      {
                        "uniqueId": "MarketingCampaignsReporting.CampaignSource",
                        "name": "Campaign Source",
                        "sqlSegment": "log_visit.campaign_source"
                      },
                      {
                        "uniqueId": "Referrers.ReferrerType",
                        "name": "Channel Type",
                        "sqlSegment": "log_visit.referer_type"
                      },
                      {
                        "uniqueId": "Referrers.Keyword",
                        "name": "Keyword",
                        "sqlSegment": "log_visit.referer_keyword"
                      },
                      {
                        "uniqueId": "Referrers.ReferrerName",
                        "name": "Referrer Name",
                        "sqlSegment": "log_visit.referer_name"
                      },
                      {
                        "uniqueId": "Referrers.ReferrerUrl",
                        "name": "Referrer URL",
                        "sqlSegment": "log_visit.referer_url"
                      }
                    ],
                    "orderId": 15
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/BadRequest"
          },
          "401": {
            "$ref": "#\/components\/responses\/Unauthorized"
          },
          "403": {
            "$ref": "#\/components\/responses\/Forbidden"
          },
          "404": {
            "$ref": "#\/components\/responses\/NotFound"
          },
          "500": {
            "$ref": "#\/components\/responses\/ServerError"
          },
          "default": {
            "$ref": "#\/components\/responses\/DefaultError"
          }
        }
      }
    },
    "\/index.php?module=API&method=CustomReports.getAvailableMetrics": {
      "get": {
        "tags": [
          "CustomReports"
        ],
        "summary": "Get a list of available metrics that can be used in custom reports.",
        "operationId": "CustomReports.getAvailableMetrics",
        "parameters": [
          {
            "$ref": "#\/components\/parameters\/formatOptional"
          },
          {
            "$ref": "#\/components\/parameters\/idSiteRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Example links: [XML](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableMetrics&idSite=1&format=xml&token_auth=anonymous), [JSON](https:\/\/demo.matomo.cloud\/?module=API&method=CustomReports.getAvailableMetrics&idSite=1&format=JSON&token_auth=anonymous), TSV (N\/A)",
            "content": {
              "text\/xml": {
                "schema": {
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "metrics": {
                            "properties": {
                              "row": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "xml": {
                                    "name": "row"
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object",
                        "xml": {
                          "name": "row"
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "type": "object",
                  "xml": {
                    "name": "result"
                  }
                },
                "example": {
                  "row": [
                    {
                      "category": "Visitor location",
                      "metrics": {
                        "row": [
                          {
                            "uniqueId": "nb_uniq_usercountry_city",
                            "name": "Unique Cities",
                            "description": "The unique number of Cities. When viewing a period that is not day, then this metric will become \"Sum of Unique Cities\". In such case, if the same Cities appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          },
                          {
                            "uniqueId": "nb_uniq_usercountry_continent",
                            "name": "Unique Continents",
                            "description": "The unique number of Continents. When viewing a period that is not day, then this metric will become \"Sum of Unique Continents\". In such case, if the same Continents appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          },
                          {
                            "uniqueId": "nb_uniq_usercountry_country",
                            "name": "Unique Countries",
                            "description": "The unique number of Countries. When viewing a period that is not day, then this metric will become \"Sum of Unique Countries\". In such case, if the same Countries appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          },
                          {
                            "uniqueId": "nb_uniq_userlanguage_language",
                            "name": "Unique Languages",
                            "description": "The unique number of Languages. When viewing a period that is not day, then this metric will become \"Sum of Unique Languages\". In such case, if the same Languages appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          },
                          {
                            "uniqueId": "nb_uniq_usercountry_latitude",
                            "name": "Unique Latitudes",
                            "description": "The unique number of Latitudes. When viewing a period that is not day, then this metric will become \"Sum of Unique Latitudes\". In such case, if the same Latitudes appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          },
                          {
                            "uniqueId": "nb_uniq_usercountry_longitude",
                            "name": "Unique Longitudes",
                            "description": "The unique number of Longitudes. When viewing a period that is not day, then this metric will become \"Sum of Unique Longitudes\". In such case, if the same Longitudes appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          },
                          {
                            "uniqueId": "nb_uniq_usercountry_region",
                            "name": "Unique Regions",
                            "description": "The unique number of Regions. When viewing a period that is not day, then this metric will become \"Sum of Unique Regions\". In such case, if the same Regions appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                          }
                        ]
                      },
                      "orderId": "7"
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "": {
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "metrics": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "": {
                                  "properties": {
                                    "uniqueId": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "orderId": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "category": "Visitor location",
                    "metrics": [
                      {
                        "uniqueId": "nb_uniq_usercountry_city",
                        "name": "Unique Cities",
                        "description": "The unique number of Cities. When viewing a period that is not day, then this metric will become \"Sum of Unique Cities\". In such case, if the same Cities appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                      },
                      {
                        "uniqueId": "nb_uniq_usercountry_continent",
                        "name": "Unique Continents",
                        "description": "The unique number of Continents. When viewing a period that is not day, then this metric will become \"Sum of Unique Continents\". In such case, if the same Continents appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                      },
                      {
                        "uniqueId": "nb_uniq_usercountry_country",
                        "name": "Unique Countries",
                        "description": "The unique number of Countries. When viewing a period that is not day, then this metric will become \"Sum of Unique Countries\". In such case, if the same Countries appear in 2 or more days within the selected period, then it will be counted as 2 or the total number of days it has appeared and not 1."
                      },
                      {
[...]
