<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
</IfModule>

# For all files not found in the file system, reroute the request to the
# "index.php" front controller, keeping the query string intact

<IfModule mod_rewrite.c>
	RewriteRule ^favicon.ico$ /favicon.png [R,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

## EXPIRES CACHING - SITE SPEED##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"
ExpiresByType text/css "access 3 days"
ExpiresByType application/font-woff "access 1 month"
ExpiresByType application/font-ttf "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 3 days"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 8 days"
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_headers.c>
    Header always Set Strict-Transport-Security: max-age=63072000;
    Header Set X-XSS-Protection 0
    Header Set X-Content-Type-Options: nosniff
</IfModule>
AddType application/font-woff .woff

# Prevent directory listing
Options -Indexes 
