{% extends 'base.twig' %}

{% block headline %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">
                404
            </h1>
            <p class="lead">We did not find that page!</p>
            {% if alternativeUrls|length %}
                <p>
                    Maybe you are looking for one of these resources:
                </p>

                <ul>
                    {% for alternativeUrl in alternativeUrls %}
                        <li><a href="{{ alternativeUrl }}">{{ alternativeUrl }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}

            <p>
                <a class="btn btn-primary" href="{{ '/'|completeUrl }}">Get back to the home page</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}


{% endblock %}


{% block piwik_customization %}
    _paq.push(["setCustomVariable", 1, "error404", "1", "page"]);
{% endblock %}
