{% extends 'base.twig' %}

{% block headline %}
    <style type="text/css">
        body {
            padding-top: 40px;
        }
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1>
                404
            </h1>
            <p>We did not find that page!</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if alternativeUrls|length %}
        <p>
            <br />
            Maybe you are looking for one of these resources:
        </p>

        <ul>
            {% for alternativeUrl in alternativeUrls %}
                <li><a href="{{ alternativeUrl }}">{{ alternativeUrl }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}

    <p>
        <br />
        <a href="{{ '/'|completeUrl }}">Get back to the home page</a>
    </p>
{% endblock %}


{% block piwik_customization %}
    _paq.push(["setCustomVariable", 1, "error404", "1", "page"]);
{% endblock %}
