{% extends 'layout/base.twig' %}

{% block headline %}
    <div class="header-with-background">
        {{ parent() }}
    </div>
{% endblock %}

{% block content %}
    <br />
    {{ changelog|raw }}
{% endblock %}
