{% extends 'layout/base.twig' %}

{% block headline %}
    {% set title = 'Guides' %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for url,item in menu %}
        <div class="col-md-4">
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <p><a class="btn btn-default" href="{{ item.url }}" role="button">View details &raquo;</a></p>
        </div>
    {% endfor %}
{% endblock %}
