{% extends 'base.twig' %}
{% from "macros.twig" import teaser_list, categorized_teaser_list %}

{% block headline %}
    <div class="header-with-background">
        {{ parent() }}
    </div>
{% endblock %}

{% block content %}
    {% if categorized %}
        {{ categorized_teaser_list(guides) }}
    {% else %}
        {{ teaser_list(guides) }}
    {% endif %}
{% endblock %}
