{% extends 'layout/base.twig' %}
{% from "macros.twig" import teaser_list %}

{% block headline %}
    <style type="text/css">
        body {
            padding-top: 40px;
        }
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1>Code | Design | Innovate</h1>
            <p>Here's the place for Piwik developers.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {{ teaser_list(menu) }}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}