{% extends 'layout/base.twig' %}
{% from "macros.twig" import teaser_list %}

{% block headline %}
    <style type="text/css">
        body {
            padding-top: 40px;
        }
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1>Code | Design | Innovate</h1>
            <p><em>Welcome to the Piwik Developer Zone, the center of innovation in analytics.</em></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {{ teaser_list(menu) }}
    </div>
{% endblock %}

{% block footer %}
    <div class="container">
        <div class="center-block social-footer">
            <a href="http://piwik.org" target="_blank" class="btn btn-xs btn-piwik">Piwik.org</a>
            <a href="https://twitter.com/piwik" target="_blank" class="btn btn-xs btn-twitter"><i class="fa fa-facebook"></i> | Twitter</a>
            <a href="https://github.com/piwik" target="_blank" class="btn btn-xs btn-github"><i class="fa fa-github"></i> | GitHub</a>
        </div>
    </div>
{% endblock %}