{% extends 'layout/base.twig' %}

{% block content %}
    <div class="row">
        {% for url,item in menu %}
            <div class="col-md-4">
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
                <p><a class="btn btn-default" href="/{{ url }}" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}