{% macro teaser_list(teasers) %}
    {% for url,item in teasers %}
        {% if loop.index0 % 3 == 0 %}
        <div class="row">
        {% endif %}
        <div class="col-xs-12 col-sm-6 col-md-4 teaser-item">
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <p><a class="btn btn-primary" href="{{ item.url }}"
                {% if 'http' == item.url[:4] %}
                    target="_blank"
                {% endif %}
                role="button">{{ item.callToAction|default('Learn more') }} &raquo;</a></p>
        </div>
        {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
        {% endif %}
    {% endfor %}
{% endmacro %}