{% set title = 'Support' %}

{% extends 'layout/base.twig' %}
{% from "macros.twig" import teaser_list %}


{% block headline %}
    <div class="header-with-background">
        {{ parent() }}
    </div>
    <p></p>
{% endblock %}

{% block content %}
    {{ teaser_list(supports) }}
{% endblock %}
